﻿<link href="~/DesktopModules/MVC/ChuyenDoiSoTrinhDien/Lib/css/Main.css" rel="stylesheet">
<script src="~/DesktopModules/MVC/ChuyenDoiSoTrinhDien/Lib/js/main.js"></script>
<link href="~/Portals/_default/Skins/HueCIT_CDS/dist/Select2/select2.min.css" rel="stylesheet">
<script src="/Portals/_default/Skins/HueCIT_CDS/dist/Select2/select2.min.js"></script>
<script src="/Providers/HtmlEditorProviders/DNNConnect.CKE/js/ckeditor/4.5.3/ckeditor.js" type="text/javascript"></script>
<script src="/Providers/HtmlEditorProviders/DNNConnect.CKE/js/jquery.ckeditor.adapter.js" type="text/javascript"></script>
<script src="~/DesktopModules/MVC/ChuyenDoiSoTrinhDien/Lib/js/bootstrap-notify.min.js"></script>
<script src="https://www.google.com/recaptcha/api.js" async defer></script>


<div id="mvcContainer-@Dnn.ActiveModule.ModuleID">
    @RenderBody()
</div>

<script>
    function getUrlCurrent() {
        var url = window.location;
        var APIURL = url.protocol + "//" + url.hostname + url.port;

        return APIURL
    }

    function getApiAjax(url, type, data) {
        let urlBase = getUrlCurrent()

        return $.ajax({
            type: type,
            url: urlBase + url,
            data: data,
        });
    }
</script>
