﻿
@{
    Layout = "~/DesktopModules/MVC/ChuyenDoiSoTrinhDien/Views/Shared/_Layout.cshtml";
}

@*
    Name: DongLHP;
    Date: 04-0;
    Function: Giải pháp dành cho doanh nghiệp - Trang chi tiết;
*@

<div class="Module_SanPhamNoiBat">
    <div class="ChiTietSanPham">
        <div class="row row-12">
            <div class="col-md-9 ChiTietSanPham_Details">
                <div class="TieuDeSanPham">
                    <div class="SanPham_Image"><img alt="" src="" id="anhDaiDien" /></div>

                    <div class="SanPham_Info">
                        <div class="TenSanPham"><span id="tenUngDung"></span></div>

                        <div class="LoaiSanPham"><span id="linhVuc"></span></div>

                        <div class="SuDungSanPham"><a href="" id="linkGooglePlay"><img alt="" src="/Portals/_default/Skins/HueCIT_CDS/assets/images/ggplay.png" /></a> <a href="" id="linkAppStore"><img alt="" src="/Portals/_default/Skins/HueCIT_CDS/assets/images/appstore.png" /></a> <a href=""><img alt="" src="/Portals/_default/Skins/HueCIT_CDS/assets/images/trial.png" /></a></div>
                    </div>
                </div>

                <div class="GioiThieuSanPham">
                    <div class="title">Giới thiệu</div>

                    <div class="content" id="gioiThieu">
                    </div>
                </div>

                <div class="TinhNangSanPham">
                    <div class="title">các tính năng nổi bật</div>

                    <div class="content" id="tinhNang">
                    </div>
                </div>

                <div class="HinhAnhSanPham">
                    <div class="title">Hình ảnh ứng dụng</div>

                    <div class="SlideHinhAnh owl-carousel owl-theme" id="anhSanPham"></div>
                </div>
                <div class="DonViPhatTrien">
                    <div class="title">Đơn vị phát triển</div>

                    <div class="content">
                        <b id="tenDonVi" style="font-size: 20px;"></b> <br />
                        <b>Website: </b><a href="" id="linkDonVi" style="color:deepskyblue;"></a><br />
                        <b>Email: </b> <span id="hopThu"></span><br />
                        <b>Địa chỉ: </b> <span id="diaChi"></span><br />
                        <b>Điện thoại: </b> <span id="dienThoai"></span><br />
                    </div>
                </div>
            </div>

            <div class="col-md-3">
                <div class="Other_SanPham">
                    <div class="Comp_SanPham Bluebox">
                        <div class="title">Ứng dụng khác của HUECIT</div>

                        <ul>
                            <li>
                                <img alt="" src="/Portals/_default/Skins/HueCIT_CDS/assets/images/CayXanhDoThi.png" />
                                <div class="TenSanPham">HueCIT - Open data Hệ thống dữ liệu mở tỉnh Thừa Thiên Huế</div>
                            </li>
                            <li>
                                <img alt="" src="/Portals/_default/Skins/HueCIT_CDS/assets/images/CayXanhDoThi.png" />
                                <div class="TenSanPham">Hệ thống quản lý cây xanh đô thị</div>
                            </li>
                            <li>
                                <img alt="" src="/Portals/_default/Skins/HueCIT_CDS/assets/images/CayXanhDoThi.png" />
                                <div class="TenSanPham">Ứng dụng di tích Huế</div>
                            </li>
                            <li>
                                <img alt="" src="/Portals/_default/Skins/HueCIT_CDS/assets/images/CayXanhDoThi.png" />
                                <div class="TenSanPham">Hệ thống vé điện tử tham quan di tích Huế</div>
                            </li>
                        </ul>
                    </div>

                    <div class="Same_SanPham Bluebox">
                        <div class="title">Ứng dụng tương tự</div>

                        <ul>
                            <li>
                                <img alt="" src="/Portals/_default/Skins/HueCIT_CDS/assets/images/CayXanhDoThi.png" />
                                <div class="TenSanPham">Hệ thống thông tin doanh nghiệp và hộ kinh doanh tỉnh Thừa Thiên Huế</div>
                            </li>
                            <li>
                                <img alt="" src="/Portals/_default/Skins/HueCIT_CDS/assets/images/CayXanhDoThi.png" />
                                <div class="TenSanPham">Phần mềm quản lý cơ sở dữ liệu văn hóa du lịch</div>
                            </li>
                            <li>
                                <img alt="" src="/Portals/_default/Skins/HueCIT_CDS/assets/images/CayXanhDoThi.png" />
                                <div class="TenSanPham">Hệ thống hỗ trợ, xúc tiến thương mại bán sản phẩm</div>
                            </li>
                        </ul>
                    </div>

                    <div class="DangKyGiaiPhap"><a data-target="#giaiPhap" data-toggle="modal"><img alt="" src="/Portals/_default/Skins/HueCIT_CDS/assets/images/DangKyGiaiPhap.png" /></a></div>
                </div>
            </div>
        </div>
    </div>
</div>

@*Modal Đăng ký giải pháp*@
<div class="modal fade" id="giaiPhap" tabindex="-1" role="dialog" aria-labelledby="ModalForGiaiPhapCDS" aria-hidden="true">
    <div class="modal-dialog modal-lg modal-custom" role="document">
        <div class="modal-content">
            <div class="modal-header ">
                <img src="/DesktopModules/MVC/ChuyenDoiSoTrinhDien/Lib/images/dangki1-bg.png" alt="" class="dangki1-bg">
                <div class="sign1-title">
                    <img src="/DesktopModules/MVC/ChuyenDoiSoTrinhDien/Lib/images/page-pen.png" alt="">
                    <h2>Đăng ký cung cấp giải pháp</h2>
                </div>
            </div>
            <div class="modal-body">
                <div class="modal-body">
                    <div class="box-form" style="margin-bottom:30px;">
                        <div class="box-title SignerInformation ThongTinDonVi">
                            <span>Thông tin đơn vị</span>
                        </div>
                        <div class="row row-12">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label for="" class="required">Tên đơn vị</label>
                                    <input type="text" placeholder="Nhập..." id="tenDonViAdd">
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="form-group form-group-row">
                                    <label for="" class="required">Logo đơn vị</label>
                                    <div class="upload-file">
                                        <!-- actual upload which is hidden -->
                                        <input type="file" id="logoDonViAdd" accept=".png, .jpg, .jpeg" />
                                        <!-- our custom upload button -->
                                        @*<label for="anhDaiDien" class="image-picker file-picker">Chọn ảnh</label>*@
                                        <!-- name of file chosen -->
                                        @*<span id="file-chosen">Chưa có ảnh được chọn</span>*@
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label for="" class="">Địa chỉ</label>
                                    <input type="text" id="diaChiAdd" placeholder="Nhập...">
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="" class="required">Điện thoại</label>
                                    <input type="text" placeholder="Nhập..." id="dienThoaiAdd">
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="" class="required">Email</label>
                                    <input type="text" placeholder="Nhập..." id="hopThuAdd">
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label for="" class="">Website</label>
                                    <input type="text" placeholder="Nhập..." id="linkDonViAdd">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="box-form">
                        <div class="box-title EventInformation ThongTinUngDung">
                            <span>Thông tin ứng dụng</span>
                        </div>
                        <div class="row row-12">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label for="" class="required">Tên ứng dụng</label>
                                    <input type="text" placeholder="Nhập..." id="tenUngDungAdd">
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label for="" class="">Link trên website</label>
                                    <input type="text" placeholder="Nhập..." id="linkUngDungAdd">
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label for="" class="">Link trên Google Play (nếu có)</label>
                                    <input type="text" placeholder="Nhập..." id="linkGooglePlayAdd">
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label for="" class="">Link trên App Store (nếu có)</label>
                                    <input type="text" placeholder="Nhập..." id="linkAppStoreAdd">
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="form-group form-group-row">
                                    <label for="" class="required">Ảnh đại diện</label>
                                    <div class="upload-file">
                                        <!-- actual upload which is hidden -->
                                        <input type="file" id="anhDaiDienAdd" accept=".png, .jpg, .jpeg" />
                                        <!-- our custom upload button -->
                                        @*<label for="anhDaiDien" class="image-picker file-picker">Chọn ảnh</label>*@
                                        <!-- name of file chosen -->
                                        @*<span id="file-chosen">Chưa có ảnh được chọn</span>*@
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label for="" class="required">Thể loại</label>
                                    <select class="eventSelect" id="theLoaiChoose" data-placeholder="Chọn"></select>
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label for="" class="">Giới thiệu</label>
                                    <textarea type="text" placeholder="Nhập..." id="gioiThieuAdd" name="gioiThieuAdd"></textarea>
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label for="" class="">Các tính năng nổi bật</label>
                                    <textarea type="text" placeholder="Nhập..." id="tinhNangAdd" name="tinhNangAdd"></textarea>
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label for="" class="required">Ảnh sản phẩm</label>
                                    <div class="upload-file">
                                        <!-- actual upload which is hidden -->
                                        <input type="file" id="anhSanPhamAdd" accept=".png, .jpg, .jpeg" multiple />
                                        <!-- our custom upload button -->
                                        @*<label for="anhSanPham" class="image-picker file-picker">Chọn ảnh</label>*@
                                        <!-- name of file chosen -->
                                        @*<span id="file-chosen-2">Chưa có ảnh được chọn</span>*@
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-12">
                                @*<div class="g-recaptcha" data-sitekey data-callback="recaptchaCallback"></div>*@
                                @*<div class="form-group form-group-row" style="gap:20px;">
                                         <img src="" alt="">
                                        <input type="text" placeholder="Nhập..." class="box-captcha" id="maXacNhan">
                                        <button class="verify">Xác nhận</button>
                                    </div>*@
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <div class="modal-footer-btn">
                    <div class="group-button">
                        @*<button type="submit" form="sectionForm" class="btn confirm-btn" onclick="BtnDangKy()" id="btn-dangky" disabled="disabled">Đăng ký</button>*@
                        <button type="submit" form="sectionForm" class="btn confirm-btn" onclick="BtnDangKy()" id="btn-dangky">Đăng ký</button>
                        <button type="button" class="btn cancel-btn" data-dismiss="modal" onclick="ClearModal()">Hủy</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    const url = window.location;
    const APIURL = url.protocol + "//" + url.hostname + url.port;
    let idItem = '@ViewBag.IdGP';
    let rs = null;

    var pathFolder = "~/Desktopmodules/FileUpload/DangKyGiaiPhap";
    var pathThuMuc = "Desktopmodules/FileUpload/DangKyGiaiPhap";

    const editorGioiThieu = CKEDITOR.replace('gioiThieuAdd', {
        // Tùy chọn cấu hình ở đây
        language: 'vi', // Thiết lập ngôn ngữ là Tiếng Việt
        height: 300, // Thiết lập chiều cao trình soạn thảo
        toolbar: [ // Tùy chỉnh thanh công cụ
            { name: 'document', items: ['Source', '-', 'Save', 'NewPage', 'Preview', 'Print'] },
            { name: 'clipboard', items: ['Cut', 'Copy', 'Paste', 'PasteText', 'PasteFromWord', '-', 'Undo', 'Redo'] },
            { name: 'editing', items: ['Find', 'Replace', '-', 'SelectAll'] },
            { name: 'insert', items: ['Image', 'Table', 'HorizontalRule', 'SpecialChar'] },
            '/',
            { name: 'basicstyles', items: ['Bold', 'Italic', 'Underline', 'Strike', 'Subscript', 'Superscript', '-', 'RemoveFormat'] },
            { name: 'paragraph', items: ['NumberedList', 'BulletedList', '-', 'Outdent', 'Indent', '-', 'Blockquote'] },
            { name: 'links', items: ['Link', 'Unlink'] },
            { name: 'styles', items: ['Styles', 'Format'] },
        ]
    });
    const editorTinhNang = CKEDITOR.replace('tinhNangAdd', {
        // Tùy chọn cấu hình ở đây
        // Ví dụ:
        language: 'vi', // Thiết lập ngôn ngữ là Tiếng Việt
        height: 300, // Thiết lập chiều cao trình soạn thảo
        toolbar: [ // Tùy chỉnh thanh công cụ
            { name: 'document', items: ['Source', '-', 'Save', 'NewPage', 'Preview', 'Print'] },
            { name: 'clipboard', items: ['Cut', 'Copy', 'Paste', 'PasteText', 'PasteFromWord', '-', 'Undo', 'Redo'] },
            { name: 'editing', items: ['Find', 'Replace', '-', 'SelectAll'] },
            { name: 'insert', items: ['Image', 'Table', 'HorizontalRule', 'SpecialChar'] },
            '/',
            { name: 'basicstyles', items: ['Bold', 'Italic', 'Underline', 'Strike', 'Subscript', 'Superscript', '-', 'RemoveFormat'] },
            { name: 'paragraph', items: ['NumberedList', 'BulletedList', '-', 'Outdent', 'Indent', '-', 'Blockquote'] },
            { name: 'links', items: ['Link', 'Unlink'] },
            { name: 'styles', items: ['Styles', 'Format'] },
        ]
    });

    $(document).ready(function () {
        function resize() {
            var imgListcategoryhWidth = $('.SlideHinhAnh .item').width();
            var heightImgListcategory = $('.SlideHinhAnh .item');
            var heightsImgListcategory = imgListcategoryhWidth / 0.8210526315789474;
            for (var i = 0; i < heightImgListcategory.length; i++) {
                heightImgListcategory[i].style.height = heightsImgListcategory + "px";
            }
        }

        window.addEventListener("resize", resize);
        window.onresize = function () {
            resize();
        };
        resize();
    });

    $(document).ready(function () {
        //var reCaptchaSiteKey = '6LdEPFAnAAAAAGcyYKRltJBk6NUSTmNUu0T_lb2F';
        //$('.g-recaptcha').attr('data-sitekey', reCaptchaSiteKey);


        $('#theLoaiChoose').select2({
            minimumResultsForSearch: -1,
        });

        function InitLinhVuc() {
            const request = {
                "TuKhoa": '',
            }
            return request;
        }

        let apiLinhVuc = getApiAjax(`/api/ChuyenDoiSoTrinhDien/DangKyGiaiPhapApi/GetsLinhVuc`, 'post', InitLinhVuc());
        let apiGiaiPhap = getApiAjax(`/api/ChuyenDoiSoTrinhDien/DangKyGiaiPhapApi/GetSanPhamGiaiPhap?id=${idItem}`, 'post');
        let apiDinhKem = getApiAjax(`/api/ChuyenDoiSoTrinhDien/DinhKemApi/GetDinhkemGiaiPhap?id=${idItem}`, 'post')

        Promise.all([apiLinhVuc, apiGiaiPhap, apiDinhKem])
            .then(([dataLinhVuc, dataGiaiPhap, dataDinhKem]) => {
                if (dataLinhVuc.IsSuccessed && dataLinhVuc.ResultObj) {
                    $('#theLoaiChoose').empty();
                    $('#theLoaiChoose').append('<option></option>');
                    dataLinhVuc.ResultObj.forEach(function (item) {
                        $('#theLoaiChoose').append(`<option value="${item.IDLinhVuc}">${item.TenLinhVuc}</option>`);
                    });
                }

                if (dataGiaiPhap.IsSuccessed && dataGiaiPhap.ResultObj) {
                    let giaiPhap = dataGiaiPhap.ResultObj;

                    $('#anhDaiDien').attr("src", `/${giaiPhap.AnhDaiDien}`);
                    $('#linkGooglePlay').attr("href", `/${giaiPhap.LinkGooglePlay}`);
                    $('#linkAppStore').attr("href", `/${giaiPhap.LinkAppStore}`);
                    $('#linkDonVi').attr("href", `/${giaiPhap.LinkDonVi}`);
                    $('#tenUngDung').text(giaiPhap.TenUngDung);
                    $('#linhVuc').text(giaiPhap.TenLinhVuc);
                    $('#gioiThieu').html(giaiPhap.GioiThieu);
                    $('#tinhNang').html(giaiPhap.TinhNangNoiBat);
                    $('#tenDonVi').text(giaiPhap.TenDonVi);
                    $('#linkDonVi').text(giaiPhap.LinkDonVi);
                    $('#diaChi').text(giaiPhap.DiaChi);
                    $('#dienThoai').text(giaiPhap.DienThoai);
                    $('#hopThu').text(giaiPhap.HopThu);


                }

                if (dataDinhKem.IsSuccessed && dataDinhKem.ResultObj) {
                    $('#anhSanPham').empty();
                    dataDinhKem.ResultObj.forEach(function (item) {
                        let html = `<div class="item"><img alt="${item.TenTep}" src="/${item.LienKet}" /></div>`

                        $('#anhSanPham').append(html);
                    });

                    $(".SlideHinhAnh").owlCarousel({
                        loop: true,
                        margin: 22,
                        nav: true,
                        dots: false,
                        autoplay: true,
                        autoplayTimeout: 4000,
                        autoplayHoverPause: false,
                        responsive: {
                            0: {
                                items: 1
                            },
                            600: {
                                items: 2
                            },
                            1000: {
                                items: 3
                            },
                            1300: {
                                items: 4
                            }
                        }
                    })
                }
            })
    })

    function BtnDangKy() {
        let tenDonVi = $('#tenDonViAdd').val();
        let anhDoanhNghiep = $('#logoDonViAdd')[0].files[0];
        let diaChi = $('#diaChiAdd').val();
        let dienThoai = $('#dienThoaiAdd').val();
        let hopThu = $('#hopThuAdd').val();
        let linkDonVi = $('#linkDonViAdd').val();
        let tenUngDung = $('#tenUngDungAdd').val();
        let linkUngDung = $('#linkUngDungAdd').val();
        let linkGooglePlay = $('#linkGooglePlayAdd').val();
        let linkAppStore = $('#linkAppStoreAdd').val();
        let anhDaiDien = $('#anhDaiDienAdd')[0].files[0];
        let theLoai = $('#theLoaiChoose').val();
        let gioiThieu = editorGioiThieu.getData();
        let tinhNang = editorTinhNang.getData();
        let files = $('#anhSanPhamAdd').prop('files');

        if (checkEmptyBlank(tenDonVi) ||
            checkEmptyBlank(tenUngDung) ||
            checkEmptyBlank(theLoai) ||
            checkEmptyBlank(dienThoai) ||
            checkEmptyBlank(hopThu)) {
            ThongBao("Thông tin bắt buộc không thể bỏ trống!", "Danger");
            return;
        }

        if (!anhDaiDien) {
            ThongBao("Ảnh đại diện chưa được tải!", "Danger");
            return;
        }

        if (!anhDoanhNghiep) {
            ThongBao("Ảnh doanh nghiệp chưa được tải!", "Danger");
            return;
        }

        var allowedExtensions = /(\.jpg|\.jpeg|\.png|\.gif|\.bmp|\.webp)$/i;
        if (!allowedExtensions.exec(anhDaiDien.name)) {
            ThongBao("Loại tệp ảnh đại diện không hợp lệ!", "Danger");
            return;
        }

        if (!allowedExtensions.exec(anhDoanhNghiep.name)) {
            ThongBao("Loại tệp ảnh doanh nghiệp không hợp lệ!", "Danger");
            return;
        }

        if (files.length == 0) {
            ThongBao("Ảnh sản phẩm chưa được tải!", "Danger");
            return;
        }

        if (!checkSDT(dienThoai)) {
            ThongBao("Số điện thoại không đúng định dạng. Vui lòng nhập lại!", "Danger");
            return;
        }

        if (dienThoai.trim().length < 10) {
            ThongBao("Số điện thoại phải có ít nhất 10 số!", "Danger");
            return;
        }

        if (!checkEmail(hopThu)) {
            ThongBao("Email sai định dạng. Vui lòng nhập lại!", "Danger");
            return;
        }
        let flag = false;

        for (var i = 0; i < files.length; i++) {
            if (!allowedExtensions.exec(files[i].name)) {
                flag = true;
            }
        }

        if (flag == true) {
            ThongBao("Loại tệp ảnh sản phẩm không hợp lệ!", "Danger");
            return;
        }

        let form_data = new FormData();
        let filename = `${formatDatePhoTo()}_${anhDaiDien.name}`;

        form_data.append(anhDaiDien.name, anhDaiDien, filename);

        let form_data_anhDoanhNghiep = new FormData();
        let fileAnhDoanhNghiep = `${formatDatePhoTo()}_${anhDoanhNghiep.name}`;

        form_data_anhDoanhNghiep.append(anhDoanhNghiep.name, anhDoanhNghiep, fileAnhDoanhNghiep);

        const data = {
            "TenDonVi": tenDonVi,
            "LogoDonVi": `${pathThuMuc}/${fileAnhDoanhNghiep}`,
            "DienThoai": dienThoai,
            "HopThu": hopThu,
            "DiaChi": diaChi,
            "LinkDonVi": linkDonVi,
            "TenUngDung": tenUngDung,
            "LinkUngDung": linkUngDung,
            "LinkGooglePlay": linkGooglePlay,
            "LinkAppStore": linkAppStore,
            "AnhDaiDien": `${pathThuMuc}/${filename}`,
            "IDLinhVuc": theLoai,
            "GioiThieu": gioiThieu,
            "TinhNangNoiBat": tinhNang,

        }

        getApiAjax(`/api/ChuyenDoiSoTrinhDien/DangKyGiaiPhapApi/AddDangKyGiaiPhap`, "post", data)
            .then((data) => {
                ThongBao("Đăng ký cung cấp giải pháp thành công!", "Success");
                $('#giaiPhap').modal('hide');
                fileUpload(form_data);
                fileUpload(form_data_anhDoanhNghiep);
                AnhSanPham(data.ResultObj.ID);
                ClearModal();
            })
            .catch((err) => Console.log("Lỗi đăng ký giải pháp: " + err))
    };

    function AnhSanPham(id) {
        let files = $('#anhSanPhamAdd').prop('files');
        let form_data = new FormData();

        for (var i = 0; i < files.length; i++) {
            let filename = `${formatDatePhoTo()}_${files[i].name}`;

            form_data.append(files[i].name, files[i], filename);

            const req = {
                "TenTep": filename,
                "IDChuThe": id,
                "LienKet": `${pathThuMuc}/${filename}`,
                "Kieu": 3,
            }

            getApiAjax('/api/ChuyenDoiSoTrinhDien/DinhKemApi/AddDinhKem', 'post', req)
                .then(() => {
                    fileUpload(form_data);
                    $('#anhSanPham').val('');

                })
                .catch((err) => console.log("Ảnh sản phẩm tải thất bại: " + err))

        }
    }

    //function recaptchaCallback() {
    //    // Thực hiện các hành động khác sau khi xác nhận thành công
    //    $("#btn-dangky").removeAttr("disabled");
    //}

    //KIỂM TRA SDT
    function checkSDT(str) {
        return /^(\+84|\(84\))?[- ]?0?\d{2,3}[- ]?\d{2,3}[- ]?\d{3,4}$/.test(str);
    }

    // KIỂM TRA EMAIL
    function checkEmail(str) {
        return /^([a-zA-Z0-9._% -]+@@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,6})*$/.test(str);
    }

    // KIỂM TRA CHUỖI STRING RỖNG
    function checkEmptyBlank(str) {
        if (str.trim().length === 0 || str == null) {
            return true
        }
        return false
    }

    // format photo
    function formatDatePhoTo() {
        var d = new Date(),
            month = '' + (d.getMonth() + 1),
            day = '' + d.getDate(),
            year = d.getFullYear(),
            hour = d.getHours(),
            minute = d.getMinutes(),
            second = d.getSeconds()

        if (month.length < 2) month = '0' + month
        if (day.length < 2) day = '0' + day
        if (hour.length < 2) hour = '0' + hour
        if (minute.length < 2) minute = '0' + minute
        if (second.length < 2) second = '0' + second

        return [year, month, day, hour, minute, second].join('')
    }

    // UPLOAD FILE
    function fileUpload(file) {
        $.ajax({
            async: false,
            url: "/api/ChuyenDoiSoTrinhDien/UploadFileApi/UploadFiles/?pathFolder=" + pathFolder + "&pathThuMuc=" + pathThuMuc,
            method: "POST",
            data: file,
            processData: false,
            contentType: false,
            success: function (data) {
                if (data.IsSuccessed && data.ResultObj.length > 0) {
                    rs = data;
                }
            },
            error: function (err) {
                console.log('Lỗi: fileUpload!');
            }
        })
        return rs
    }

    function ClearModal() {
        $('#tenDonViAdd').val('');
        $('#logoDonViAdd').val('');
        $('#diaChiAdd').val('');
        $('#dienThoaiAdd').val('');
        $('#hopThuAdd').val('');
        $('#linkDonViAdd').val('');
        $('#tenUngDungAdd').val('');
        $('#linkUngDungAdd').val('');
        $('#linkGooglePlayAdd').val('');
        $('#linkAppStoreAdd').val('');
        $('#anhDaiDienAdd').val('');
        $('#theLoaiChoose').val('').trigger('change');
        $('#gioiThieuAdd').val('');
        $('#tinhNangAdd').val('');
        $('#anhSanPhamAdd').val('');
        //grecaptcha.reset();
        //$("#btn-dangky").attr("disabled", "disabled");
    }

</script>
