﻿﻿
@{
    Layout = "~/DesktopModules/MVC/ChuyenDoiSoTrinhDien/Views/Shared/_Layout.cshtml";
}

@*
    Name: DongLHP;
    Date: 04-0;
    Function: Dang ky giai phap;
*@

<!-- Giải pháp dành cho doanh nghiệp - Trang trình diễn -->
<div class="Module_SanPhamNoiBat">
    <div class="DanhSachSanPham">
        <div class="row row-12">
            <div class="List_SanPhamMoiNhat col-md-3" id="sanPhamNew"></div>
            <div class="col-md-9">
                <div class="List_SanPhamNoiBat owl-carousel owl-theme" id="sanPhamNoiBat">
                </div>
            </div>
        </div>
      
    </div>

    <div class="LocSanPham">
        <div class="SanPham_Filter">
            <div class="LocDanhSach">
                <div class="Loc_Title"><span>Danh sách <span id="totalLinhVuc"></span> </span></div>

                <ul class="Category_Loc" id="Category_Loc"></ul>
            </div>

            <div class="DangKyGiaiPhap"><a data-target="#GiaiPhap" data-toggle="modal"><img alt="" src="/Portals/_default/Skins/HueCIT_CDS/assets/images/DangKyGiaiPhap.png" /></a></div>
        </div>

        <div class="DanhSachLocSanPham">
            <ul class="List_LocSanPham" id="List_LocSanPham"></ul>
        </div>
    </div>
</div>

@*Modal Đăng ký giải pháp*@
<div class="modal fade" id="GiaiPhap" tabindex="-1" role="dialog" aria-labelledby="ModalForGiaiPhapCDS" aria-hidden="true">
    <div class="modal-dialog modal-lg modal-custom" role="document">
        <div class="modal-content">
            <div class="modal-header ">
                <img src="/DesktopModules/MVC/ChuyenDoiSoTrinhDien/Lib/images/dangki1-bg.png" alt="" class="dangki1-bg">
                <div class="sign1-title">
                    <img src="/DesktopModules/MVC/ChuyenDoiSoTrinhDien/Lib/images/page-pen.png" alt="">
                    <h2>Đăng ký cung cấp giải pháp</h2>
                </div>
            </div>
            <div class="modal-body">
                <div class="modal-body">
                    <div class="box-form" style="margin-bottom:30px;">
                        <div class="box-title SignerInformation ThongTinDonVi">
                            <span>Thông tin đơn vị</span>
                        </div>
                        <div class="row row-12">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label for="" class="required">Tên đơn vị</label>
                                    <input type="text" placeholder="Nhập..." id="tenDonVi">
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="form-group form-group-row">
                                    <label for="" class="required">Logo đơn vị</label>
                                    <div class="upload-file">
                                        <!-- actual upload which is hidden -->
                                        <input type="file" id="logoDonVi" accept=".png, .jpg, .jpeg" />
                                        <!-- our custom upload button -->
                                        @*<label for="anhDaiDien" class="image-picker file-picker">Chọn ảnh</label>*@
                                        <!-- name of file chosen -->
                                        @*<span id="file-chosen">Chưa có ảnh được chọn</span>*@
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label for="" class="">Địa chỉ</label>
                                    <input type="text" id="diaChi" placeholder="Nhập...">
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="" class="required">Điện thoại</label>
                                    <input type="text" placeholder="Nhập..." id="dienThoai">
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="" class="required">Email</label>
                                    <input type="text" placeholder="Nhập..." id="hopThu">
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label for="" class="">Website</label>
                                    <input type="text" placeholder="Nhập..." id="linkDonVi">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="box-form">
                        <div class="box-title EventInformation ThongTinUngDung">
                            <span>Thông tin ứng dụng</span>
                        </div>
                        <div class="row row-12">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label for="" class="required">Tên ứng dụng</label>
                                    <input type="text" placeholder="Nhập..." id="tenUngDung">
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label for="" class="">Link trên website</label>
                                    <input type="text" placeholder="Nhập..." id="linkUngDung">
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label for="" class="">Link trên Google Play (nếu có)</label>
                                    <input type="text" placeholder="Nhập..." id="linkGooglePlay">
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label for="" class="">Link trên App Store (nếu có)</label>
                                    <input type="text" placeholder="Nhập..." id="linkAppStore">
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="form-group form-group-row">
                                    <label for="" class="required">Ảnh đại diện</label>
                                    <div class="upload-file">
                                        <!-- actual upload which is hidden -->
                                        <input type="file" id="anhDaiDien" accept=".png, .jpg, .jpeg" />
                                        <!-- our custom upload button -->
                                        @*<label for="anhDaiDien" class="image-picker file-picker">Chọn ảnh</label>*@
                                        <!-- name of file chosen -->
                                        @*<span id="file-chosen">Chưa có ảnh được chọn</span>*@
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label for="" class="required">Thể loại</label>
                                    <select class="eventSelect" id="theLoaiChoose" data-placeholder="Chọn"></select>
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label for="" class="">Giới thiệu</label>
                                    <textarea type="text" placeholder="Nhập..." id="gioiThieu"></textarea>
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label for="" class="">Các tính năng nổi bật</label>
                                    <textarea type="text" placeholder="Nhập..." id="tinhNang"></textarea>
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label for="" class="required">Ảnh sản phẩm</label>
                                    <div class="upload-file">
                                        <!-- actual upload which is hidden -->
                                        <input type="file" id="anhSanPham" accept=".png, .jpg, .jpeg" multiple />
                                        <!-- our custom upload button -->
                                        @*<label for="anhSanPham" class="image-picker file-picker">Chọn ảnh</label>*@
                                        <!-- name of file chosen -->
                                        @*<span id="file-chosen-2">Chưa có ảnh được chọn</span>*@
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-12">
                                @*<div class="g-recaptcha" data-sitekey data-callback="recaptchaCallback"></div>*@
                                @*<div class="form-group form-group-row" style="gap:20px;">
                             <img src="" alt="">
                            <input type="text" placeholder="Nhập..." class="box-captcha" id="maXacNhan">
                            <button class="verify">Xác nhận</button>
                        </div>*@
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <div class="modal-footer-btn">
                    <div class="group-button">
                        @*<button type="submit" form="sectionForm" class="btn confirm-btn" onclick="BtnDangKy()" id="btn-dangky" disabled="disabled">Đăng ký</button>*@
                        <button type="submit" form="sectionForm" class="btn confirm-btn" onclick="BtnDangKy()" id="btn-dangky">Đăng ký</button>
                        <button type="button" class="btn cancel-btn" data-dismiss="modal" onclick="ClearModal()">Hủy</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    const url = window.location;
    const APIURL = url.protocol + "//" + url.hostname + url.port;
    let rs = null;
    let initDataLinhVuc = null;

    var pathFolder = "~/Desktopmodules/FileUpload/DangKyGiaiPhap";
    var pathThuMuc = "Desktopmodules/FileUpload/DangKyGiaiPhap";

    const editorGioiThieu = CKEDITOR.replace('gioiThieu', {
        // Tùy chọn cấu hình ở đây
        language: 'vi', // Thiết lập ngôn ngữ là Tiếng Việt
        height: 300, // Thiết lập chiều cao trình soạn thảo
        toolbar: [ // Tùy chỉnh thanh công cụ
            { name: 'document', items: ['Source', '-', 'Save', 'NewPage', 'Preview', 'Print'] },
            { name: 'clipboard', items: ['Cut', 'Copy', 'Paste', 'PasteText', 'PasteFromWord', '-', 'Undo', 'Redo'] },
            { name: 'editing', items: ['Find', 'Replace', '-', 'SelectAll'] },
            { name: 'insert', items: ['Image', 'Table', 'HorizontalRule', 'SpecialChar'] },
            '/',
            { name: 'basicstyles', items: ['Bold', 'Italic', 'Underline', 'Strike', 'Subscript', 'Superscript', '-', 'RemoveFormat'] },
            { name: 'paragraph', items: ['NumberedList', 'BulletedList', '-', 'Outdent', 'Indent', '-', 'Blockquote'] },
            { name: 'links', items: ['Link', 'Unlink'] },
            { name: 'styles', items: ['Styles', 'Format'] },
        ]
    });
    const editorTinhNang = CKEDITOR.replace('tinhNang', {
        // Tùy chọn cấu hình ở đây
        // Ví dụ:
        language: 'vi', // Thiết lập ngôn ngữ là Tiếng Việt
        height: 300, // Thiết lập chiều cao trình soạn thảo
        toolbar: [ // Tùy chỉnh thanh công cụ
            { name: 'document', items: ['Source', '-', 'Save', 'NewPage', 'Preview', 'Print'] },
            { name: 'clipboard', items: ['Cut', 'Copy', 'Paste', 'PasteText', 'PasteFromWord', '-', 'Undo', 'Redo'] },
            { name: 'editing', items: ['Find', 'Replace', '-', 'SelectAll'] },
            { name: 'insert', items: ['Image', 'Table', 'HorizontalRule', 'SpecialChar'] },
            '/',
            { name: 'basicstyles', items: ['Bold', 'Italic', 'Underline', 'Strike', 'Subscript', 'Superscript', '-', 'RemoveFormat'] },
            { name: 'paragraph', items: ['NumberedList', 'BulletedList', '-', 'Outdent', 'Indent', '-', 'Blockquote'] },
            { name: 'links', items: ['Link', 'Unlink'] },
            { name: 'styles', items: ['Styles', 'Format'] },
        ]
    });


    $(document).ready(function () {
        initGiaiPhap();
        //var reCaptchaSiteKey = '6LdEPFAnAAAAAGcyYKRltJBk6NUSTmNUu0T_lb2F';
        //$('.g-recaptcha').attr('data-sitekey', reCaptchaSiteKey);


        $('#theLoaiChoose').select2({
            minimumResultsForSearch: -1,
        });

        function InitLinhVuc() {
            const request = {
                "TuKhoa": '',
            }
            return request;
        }

        let apiLinhVuc = getApiAjax(`/api/ChuyenDoiSoTrinhDien/DangKyGiaiPhapApi/GetsLinhVuc`, 'post', InitLinhVuc())
        let apiLinhVucGiaiPhap = getApiAjax('/api/ChuyenDoiSoTrinhDien/DangKyGiaiPhapApi/GetsLinhVucGiaiPhap', 'post')
        let apiGiaiPhapNew = getApiAjax('/api/ChuyenDoiSoTrinhDien/DangKyGiaiPhapApi/GetGiaiPhapNew', 'post')
        let apiGiaiPhapTieuDiem = getApiAjax('/api/ChuyenDoiSoTrinhDien/DangKyGiaiPhapApi/GetsGiaiPhapTieuDiem', 'post')

        Promise.all([apiLinhVuc, apiLinhVucGiaiPhap, apiGiaiPhapNew, apiGiaiPhapTieuDiem])
            .then(([dataLinhVuc, dataLinhVucGiaiPhap, dataGiaiPhapNew, dataGiaiPhapTieuDiem]) => {
                if (dataLinhVuc.IsSuccessed && dataLinhVuc.ResultObj) {
                    $('#theLoaiChoose').empty();
                    $('#theLoaiChoose').append('<option></option>');
                    dataLinhVuc.ResultObj.forEach(function (item) {
                        $('#theLoaiChoose').append(`<option value="${item.IDLinhVuc}">${item.TenLinhVuc}</option>`);
                    });
                }

                if (dataLinhVucGiaiPhap.IsSuccessed && dataLinhVucGiaiPhap.ResultObj) {
                    let total = 0;
                    dataLinhVucGiaiPhap.ResultObj.forEach(function (item) {
                        let html = `<li class="Category_Option">
                                     <input id="${item.IDLinhVuc}" name="linhVuc" type="radio" value="${item.IDLinhVuc}" />
                                     <label for="${item.IDLinhVuc}">${item.TenLinhVuc}</label>
                                     <span class="SoLuong_Category">${item.CountIdLinhVuc}</span>
                                </li>`
                        $('#Category_Loc').append(html);
                        total += item.CountIdLinhVuc;
                    })

                    $('#totalLinhVuc').text(total);
                }

                if (dataGiaiPhapNew.IsSuccessed && dataGiaiPhapNew.ResultObj) {
                    let html = `  <div class="Card_SanPham">
                                        <div class="card_status moi"><span>Mới</span></div>

                                        <div class="card_icon"><img alt="" src="/${dataGiaiPhapNew.ResultObj.AnhDaiDien}" /></div>

                                        <div class="card_name detailLink" onclick="detailLink('${dataGiaiPhapNew.ResultObj.ID}')"><span>${dataGiaiPhapNew.ResultObj.TenUngDung}</span></div>

                                        <div class="card_comp"><img alt="" src="/${dataGiaiPhapNew.ResultObj.LogoDonVi}" /> <span>${dataGiaiPhapNew.ResultObj.TenDonVi}</span></div>

                                        <div class="card_info"><span>${dataGiaiPhapNew.ResultObj.GioiThieu}</span></div>
                                </div>`
                    $('#sanPhamNew').append(html);
                }

                if (dataGiaiPhapTieuDiem.IsSuccessed && dataGiaiPhapTieuDiem.ResultObj) {
                    dataGiaiPhapTieuDiem.ResultObj.forEach(function (item) {
                        let html = `<div class="Card_SanPham item">
                                   <div class="card_status noibat"><span class="">Nổi bật</span></div>

                                    <div class="card_icon"><img alt="" src="/${item.AnhDaiDien}" /></div>

                                    <div class="card_name detailLink" onclick="detailLink('${item.ID}')"><span>${item.TenUngDung}</span></div>

                                    <div class="card_comp"><img alt="" src="/${item.LogoDonVi}" /> <span>${item.TenDonVi}</span></div>

                                    <div class="card_info"><span>${item.GioiThieu}</span></div>
                    </div>`
                        $('#sanPhamNoiBat').append(html);
                    })
                    $('.List_SanPhamNoiBat').owlCarousel({
                        loop: true,
                        margin: 24,
                        nav: false,
                        dots: false,
                        autoplay: true,
                        autoplayTimeout: 5000,
                        autoplayHoverPause: false,
                        responsive: {
                            0: {
                                items: 1
                            },
                            600: {
                                items: 2
                            },
                            1000: {
                                items: 3
                            },
                        }
                    })
                }

            })
    })

    $(document).on('click', '.Category_Option input[type="radio"]', function () {
        const value = $(this).val();
        initDataLinhVuc = value;
        initGiaiPhap();
    });

    function initGiaiPhap() {
        const request = {
            "IdLinhVuc": initDataLinhVuc,
        }
        getApiAjax(`/api/ChuyenDoiSoTrinhDien/DangKyGiaiPhapApi/GetsDangKyGiaiPhap`, 'post', request)
            .then((dataGiaiPhapTrangThai) => {
                if (dataGiaiPhapTrangThai.IsSuccessed && dataGiaiPhapTrangThai.ResultObj) {
                    $('#List_LocSanPham').empty();
                    dataGiaiPhapTrangThai.ResultObj.forEach(function (item) {
                        let html = `<li class="DanhSachLoc">
                        <div class="Loc_Info">
                            <img alt="" src="/${item.AnhDaiDien}" />
                            <div class="Loc_name"><span>${item.TenUngDung}</span></div>
                        </div>
                        <div class="Loc_comp"><img alt="" src="/${item.LogoDonVi ? item.LogoDonVi : ''}" /> <span>${item.TenDonVi ? item.TenDonVi : ''}</span></div>
                        <div class="Btn_Details"><button type="button" class="btn btn-primary" onclick="detailLink('${item.ID}')">Xem chi tiết</button></div>
                        </li>`

                        $('#List_LocSanPham').append(html);
                    })
                }
            })
    }

    function BtnDangKy() {
        let tenDonVi = $('#tenDonVi').val();
        let anhDoanhNghiep = $('#logoDonVi')[0].files[0];
        let diaChi = $('#diaChi').val();
        let dienThoai = $('#dienThoai').val();
        let hopThu = $('#hopThu').val();
        let linkDonVi = $('#linkDonVi').val();
        let tenUngDung = $('#tenUngDung').val();
        let linkUngDung = $('#linkUngDung').val();
        let linkGooglePlay = $('#linkGooglePlay').val();
        let linkAppStore = $('#linkAppStore').val();
        let anhDaiDien = $('#anhDaiDien')[0].files[0];
        let theLoai = $('#theLoaiChoose').val();
        let gioiThieu = editorGioiThieu.getData();
        let tinhNang = editorTinhNang.getData();
        let files = $('#anhSanPham').prop('files');

        if (checkEmptyBlank(tenDonVi) ||
            checkEmptyBlank(tenUngDung) ||
            checkEmptyBlank(theLoai) ||
            checkEmptyBlank(dienThoai) ||
            checkEmptyBlank(hopThu)) {

            ThongBao("Thông tin bắt buộc không thể bỏ trống!", "Danger");
            return;
        }

        if (!anhDaiDien) {
            ThongBao("Ảnh đại diện chưa được tải!", "Danger");
            return;
        }

        if (!anhDoanhNghiep) {
            ThongBao("Ảnh doanh nghiệp chưa được tải!", "Danger");
            return;
        }

        var allowedExtensions = /(\.jpg|\.jpeg|\.png|\.gif|\.bmp|\.webp)$/i;
        if (!allowedExtensions.exec(anhDaiDien.name)) {
            ThongBao("Loại tệp ảnh đại diện không hợp lệ!", "Danger");
            return;
        }

        if (!allowedExtensions.exec(anhDoanhNghiep.name)) {
            ThongBao("Loại tệp ảnh doanh nghiệp không hợp lệ!", "Danger");
            return;
        }

        if (files.length == 0) {
            ThongBao("Ảnh sản phẩm chưa được tải!", "Danger");
            return;
        }

        if (!checkSDT(dienThoai)) {
            ThongBao("Số điện thoại không đúng định dạng. Vui lòng nhập lại!", "Danger");
            return;
        }

        if (dienThoai.trim().length < 10) {
            ThongBao("Số điện thoại phải có ít nhất 10 số!", "Danger");
            return;
        }

        if (!checkEmail(hopThu)) {
            ThongBao("Email sai định dạng. Vui lòng nhập lại!", "Danger");
            return;
        }
        let flag = false;

        for (var i = 0; i < files.length; i++) {
            if (!allowedExtensions.exec(files[i].name)) {
                flag = true;
            }
        }

        if (flag == true) {
            ThongBao("Loại tệp ảnh sản phẩm không hợp lệ!", "Danger");
            return;
        }

        let form_data = new FormData();
        let filename = `${formatDatePhoTo()}_${anhDaiDien.name}`;

        form_data.append(anhDaiDien.name, anhDaiDien, filename);

        let form_data_anhDoanhNghiep = new FormData();
        let fileAnhDoanhNghiep = `${formatDatePhoTo()}_${anhDoanhNghiep.name}`;

        form_data_anhDoanhNghiep.append(anhDoanhNghiep.name, anhDoanhNghiep, fileAnhDoanhNghiep);     

        const data = {
            "TenDonVi": tenDonVi,
            "LogoDonVi": `${pathThuMuc}/${fileAnhDoanhNghiep}`,
            "DienThoai": dienThoai,
            "HopThu": hopThu,
            "DiaChi": diaChi,
            "LinkDonVi": linkDonVi,
            "TenUngDung": tenUngDung,
            "LinkUngDung": linkUngDung,
            "LinkGooglePlay": linkGooglePlay,
            "LinkAppStore": linkAppStore,
            "AnhDaiDien": `${pathThuMuc}/${filename}`,
            "IDLinhVuc": theLoai,
            "GioiThieu": gioiThieu,
            "TinhNangNoiBat": tinhNang,
          
        }
        getApiAjax(`/api/ChuyenDoiSoTrinhDien/DangKyGiaiPhapApi/AddDangKyGiaiPhap`, "post", data)
            .then((data) => {
                ThongBao("Đăng ký cung cấp giải pháp thành công!", "Success");
                $('#GiaiPhap').modal('hide');
                fileUpload(form_data);
                fileUpload(form_data_anhDoanhNghiep);
                AnhSanPham(data.ResultObj.ID);
                ClearModal();
            })
            .catch((err) => Console.log("Lỗi đăng ký giải pháp: " + err))
    };

    function AnhSanPham(id) {
        let files = $('#anhSanPham').prop('files');
        let form_data = new FormData();

        for (var i = 0; i < files.length; i++) {
            let filename = `${formatDatePhoTo()}_${files[i].name}`;

            form_data.append(files[i].name, files[i], filename);

            const req = {
                "TenTep": filename,
                "IDChuThe": id,
                "LienKet": `${pathThuMuc}/${filename}`,
                "Kieu": 3,
            }

            getApiAjax('/api/ChuyenDoiSoTrinhDien/DinhKemApi/AddDinhKem', 'post', req)
                .then(() => {
                    fileUpload(form_data);
                    $('#anhSanPham').val('');

                })
                .catch((err) => console.log("Ảnh sản phẩm tải thất bại: " + err))

        }
    }

    function detailLink(id) {
        let uri = window.location.origin + window.location.pathname;
        let chiTietUrl = uri + "?id=" + id;

        window.location.href = chiTietUrl;
    }

    //function recaptchaCallback() {
    //    // Thực hiện các hành động khác sau khi xác nhận thành công
    //    $("#btn-dangky").removeAttr("disabled");
    //}

    //KIỂM TRA SDT
    function checkSDT(str) {
        return /^(\+84|\(84\))?[- ]?0?\d{2,3}[- ]?\d{2,3}[- ]?\d{3,4}$/.test(str);
    }

    // KIỂM TRA EMAIL
    function checkEmail(str) {
        return /^([a-zA-Z0-9._% -]+@@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,6})*$/.test(str);
    }

    // KIỂM TRA CHUỖI STRING RỖNG
    function checkEmptyBlank(str) {
        if (str.trim().length === 0 || str == null) {
            return true
        }
        return false
    }

    // format photo
    function formatDatePhoTo() {
        var d = new Date(),
            month = '' + (d.getMonth() + 1),
            day = '' + d.getDate(),
            year = d.getFullYear(),
            hour = d.getHours(),
            minute = d.getMinutes(),
            second = d.getSeconds()

        if (month.length < 2) month = '0' + month
        if (day.length < 2) day = '0' + day
        if (hour.length < 2) hour = '0' + hour
        if (minute.length < 2) minute = '0' + minute
        if (second.length < 2) second = '0' + second

        return [year, month, day, hour, minute, second].join('')
    }

    // UPLOAD FILE
    function fileUpload(file) {
        $.ajax({
            async: false,
            url: "/api/ChuyenDoiSoTrinhDien/UploadFileApi/UploadFiles/?pathFolder=" + pathFolder + "&pathThuMuc=" + pathThuMuc,
            method: "POST",
            data: file,
            processData: false,
            contentType: false,
            success: function (data) {
                if (data.IsSuccessed && data.ResultObj.length > 0) {
                    rs = data;
                }
            },
            error: function (err) {
                console.log('Lỗi: fileUpload!');
            }
        })
        return rs
    }

    function ClearModal() {
        $('#tenDonVi').val('');
        $('#logoDonVi').val('');
        $('#diaChi').val('');
        $('#dienThoai').val('');
        $('#hopThu').val('');
        $('#linkDonVi').val('');
        $('#tenUngDung').val('');
        $('#linkUngDung').val('');
        $('#linkGooglePlay').val('');
        $('#linkAppStore').val('');
        $('#anhDaiDien').val('');
        $('#theLoaiChoose').val('').trigger('change');
        $('#gioiThieu').val('');
        $('#tinhNang').val('');
        $('#anhSanPham').val('');
        //grecaptcha.reset();
        //$("#btn-dangky").attr("disabled", "disabled");
    }

</script>