﻿/****************************************DTI REPORT********************************/

.lined {
    border-bottom: 1px solid #BFDAFF;
}

.lined .Head {
    color: #001DA7;
    font-size: 20px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-transform: uppercase;
    padding-bottom: 12px;
    margin-bottom: 0;
    border-bottom: 2px solid #001DA7;
}

.BaoCaoDTI {
    margin-bottom: 60px;
}

.BaoCaoDTI .filter-row {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 20px;
    margin-top: 25px;
}

.BaoCaoDTI .tab-filter {
    display: flex;
    align-items: center;
    gap: 60px;
}

.BaoCaoDTI .tab-filter a {
    color: var(--link, #00B2FF);
    font-size: 18px;
    font-family: "Roboto Medium";
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    padding-bottom: 10px;
    cursor: pointer;
}

.BaoCaoDTI .tab-filter a.active,
.BaoCaoDTI .tab-filter a:hover {
    border-bottom: 2px solid var(--text-title, #001DA7);
    color: var(--text-title, #001DA7);
}

    .BaoCaoDTI .search-box {
        position: relative
    }

        .BaoCaoDTI .search-box input,
        .BaoCaoDTI .search-box .select2-container--default .select2-selection--single {
            border-radius: 4px;
            border: 1px solid #C9D7F5;
            background: #FFF;
            padding: 10px 40px 10px 15px;
            width: 400px;
            height: 40px;
            color: var(--text-content, #363636);
            font-size: 16px;
            font-family: Roboto;
            font-style: normal;
            font-weight: 400;
            line-height: normal;
            outline: transparent;
        }

        .BaoCaoDTI .search-box .select2-container--default .select2-selection--single {
            width: 85px;
            padding-right: 16px;
        }

            .BaoCaoDTI .search-box .select2-container--default .select2-selection--single .select2-selection__rendered {
                position: absolute;
                top: 53%;
                transform: translateY(-50%);
                left: 3px;
            }
            .BaoCaoDTI .search-box .select2-container--default .select2-selection--single .select2-selection__arrow {
                top: 53%;
                transform: translateY(-50%);
                right: 3px;
            }



.BaoCaoDTI .search-box .search-function {
    display: block;
    position: absolute;
    width: 24px;
    height: 24px;
    background: url(../images/search-input-icon.png) no-repeat center;
    top: 50%;
    transform: translateY(-50%);
    right: 12px;
    cursor: pointer;
}

.BaoCaoDTI ul,
.BaoCaoDTI li,
.BaoCaoDTI_ChiTiet ul,
.BaoCaoDTI_ChiTiet li {
    margin: 0;
}

.BaoCaoDTI .danhsachcoso .coso-details {
    margin-bottom: 20px;
    border-radius: 8px;
    background: #FFF;
    padding: 20px;
    box-shadow: 0px 0px 5px 0px #DFEAFF;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.BaoCaoDTI .danhsachcoso .coso-details>a {
    display: flex;
    align-items: center;
    position: relative;
    cursor: pointer;
    color: var(--link, #00B2FF);
    font-family: 'Roboto Medium';
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    padding: 0;
}

.BaoCaoDTI .danhsachcoso .coso-details>a.has-mini::after {
    content: '';
    width: 20px;
    height: 20px;
    background: url(../images/collapse-plus.png) no-repeat center;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 0;
    cursor: pointer;
}

.BaoCaoDTI .danhsachcoso .coso-details .group-status {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.BaoCaoDTI .danhsachcoso .coso-details .group-status>div {
    display: flex;
    flex-direction: row;
    gap: 10px;
    align-items: center;
}

.BaoCaoDTI .danhsachcoso .coso-details .group-status>div>span {
    color: var(--text-content, #363636);
    text-align: center;
    font-family: Roboto;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    /* 150% */
}

.BaoCaoDTI .danhsachcoso .coso-details .group-status>div>.number {
    text-align: center;
    font-family: 'Roboto Medium';
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px;
    /* 100% */
}

.BaoCaoDTI .danhsachcoso .coso-details .group-status>div>#tongSoNhiemVu {
    color: var(--link, #00B2FF);
}

.BaoCaoDTI .danhsachcoso .coso-details .group-status>div>#nhiemVuDat {
    color: #40D19D;
}

.BaoCaoDTI .danhsachcoso .coso-details .group-status>div>#nhiemVuChuaDat {
    color: #999999;
}

.BaoCaoDTI .danhsachcoso .coso-details .group-status>div>#nhiemVuKhongDat {
    color: #FF7C7C;
}

.BaoCaoDTI .danhsachcoso .coso-details.collapsed>a.has-mini::after {
    background: url(../images/collapse-minus.png) no-repeat center;
}

.BaoCaoDTI .danhsachcoso .mini-list {
    background: #F0F6FF;
    padding: 10px 20px;
    display: none;
}

.BaoCaoDTI .danhsachcoso .mini-list>li>a {
    color: var(--text-title, #001DA7);
    font-size: 16px;
    font-family: "Roboto Medium";
    font-style: normal;
    font-weight: 500;
    line-height: 26px;
    cursor: pointer;
}

.BaoCaoDTI .danhsachcoso .mini-list>li {
    list-style-type: disc;
    list-style-type: disc;
    display: list-item;
    list-style-position: inside;
}

.BaoCaoDTI .danhsachcoso .mini-list>li:not(:last-child) {
    margin-bottom: 10px;
}

.BaoCaoDTI .danhsachcoso .mini-list>li::marker {
    color: var(--text-title, #001DA7);
    font-size: 16px;
}

@font-face {
    font-family: 'Material Symbols Outlined';
    font-style: normal;
    src: url(../fonts/Material/material-symbols-outlined.woff2) format('woff2');
}

@font-face {
    font-family: 'Material Symbols Rounded';
    font-style: normal;
    src: url(../fonts/Material/material-symbols-rounded.woff2) format('woff2');
}

@font-face {
    font-family: 'Material Symbols Sharp';
    font-style: normal;
    src: url(../fonts/Material/material-symbols-sharp.woff2) format('woff2');
}

.material-symbols-outlined {
    font-family: 'Material Symbols Outlined';
    font-weight: normal;
    font-style: normal;
    font-size: 24px;
    line-height: 1;
    letter-spacing: normal;
    text-transform: none;
    display: inline-block;
    white-space: nowrap;
    word-wrap: normal;
    direction: ltr;
    -webkit-font-feature-settings: 'liga';
    -webkit-font-smoothing: antialiased;
}

.material-symbols-rounded {
    font-family: 'Material Symbols Rounded';
    font-weight: normal;
    font-style: normal;
    font-size: 24px;
    line-height: 1;
    letter-spacing: normal;
    text-transform: none;
    display: inline-block;
    white-space: nowrap;
    word-wrap: normal;
    direction: ltr;
    -webkit-font-feature-settings: 'liga';
    -webkit-font-smoothing: antialiased;
}

.material-symbols-rounded {
    font-variation-settings: 'wght' 300
}

.material-symbols-rounded.filled {
    font-variation-settings: 'FILL' 1
}

.DTI_Title {
    margin-top: 35px;
    margin-bottom: 60px;
    display: flex;
    justify-content: space-between;
}

.BaoCaoDTI_ChiTiet_2 .DTI_Title {
    margin-bottom: 36px;
}

/* .DTI_Breadcrum {
    display: flex;
    align-items: center;
}

    .DTI_Breadcrum .DTI_CoSo {
        color: #001DA7;
        font-size: 24px;
        font-family: 'Roboto Medium';
        font-style: normal;
        font-weight: 500;
        line-height: normal;
    }

    .DTI_Breadcrum .Ranking {
        color: var(--text-content, #363636);
        font-size: 20px;
        font-family: 'Roboto Medium';
        font-style: normal;
        font-weight: 500;
        line-height: normal;
    } */

.TenDonVi {
    display: inline-flex;
    align-items: center;
    position: absolute;
    margin-left: 5px;
}

.TenDonVi .TenDonVi_ChiTiet {
    color: var(--link, #00B2FF);
    font-family: 'Roboto Medium';
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: 1.22222;
    /* 122.222% */
}


.DTI_Report {
    margin-bottom: 60px;

}

.DTI_Report_Details {
    margin-top: 28px;
}

.DTI_Report_Details .dataGrid_BaoCaoChiSo {
    box-shadow: 0px 0px 6px 0px rgba(0, 100, 192, 0.15);
    width: 100%;
}

.DTI_Report_Details .dataGrid_BaoCaoChiSo thead {
    background: #74BCFF;
}

.DTI_Report_Details .dataGrid_BaoCaoChiSo tbody {
    border: 1px solid #E6E6E6;
    min-height: 70px;
}

.DTI_Report_Details .dataGrid_BaoCaoChiSo thead tr th {
    padding: 16px 12px;
    color: #FFF;
    font-family: 'Roboto Bold';
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 24px;
    /* 150% */
}

.DTI_Report_Details .danhsachdonvi thead tr th {
    padding: 8px 16px;
    color: #FFF;
    font-family: 'Roboto Medium';
    font-size: 15px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px;
    border-right: 1px solid #A9CFFF;
    /* 150% */
}

.DTI_Report_Details .dataGrid_BaoCaoChiSo tbody tr {
    min-height: 70px;
}

.DTI_Report_Details .dataGrid_BaoCaoChiSo tbody tr td {
    padding: 20px 12px;
    border-bottom: 1px solid #E6E6E6;
    color: var(--text-content, #363636);
    font-family: 'Roboto';
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
    /* 125% */
}

.DTI_Report_Details .danhsachdonvi tbody tr td {
    padding: 20px 12px;
    border-bottom: 1px solid #E6E6E6;
    color: var(--text-content, #363636);
    font-family: 'Roboto Medium';
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 20px;
    /* 125% */
}

.name-text {
    color: #001DA7 !important;
    font-family: 'Roboto Medium' !important;
    font-size: 16px;
    font-style: normal;
    font-weight: 500 !important;
    line-height: 1.375;
    /* 137.5% */
}

.text-center {
    vertical-align: middle !important;
    text-align: center !important;
}

.group_action {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 15px;
}

.group_action img {
    cursor: pointer;
}

.DTI_Report ul {
    display: flex;
    gap: 120px;
    justify-content: center;
}

.DTI_Report ul li {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.DTI_Report ul li .report_option {
    color: #003ECF;
    text-align: center;
    font-size: 18px;
    font-family: 'Roboto Medium';
    font-style: normal;
    font-weight: 500;
    line-height: 24px;
}

.DTI_Report ul li .number {
    color: #003ECF;
    text-align: center;
    font-size: 32px;
    font-family: 'Roboto Medium';
    font-style: normal;
    font-weight: 500;
    line-height: 24px;
}

.DTI_Report_Details ul li {
    display: list-item;
    list-style-type: number;
    list-style-position: outside;
    color: var(--text-title, #001DA7);
    font-size: 16px;
    font-family: 'Roboto Medium';
    font-style: normal;
    font-weight: 500;
    line-height: 22px;
    padding-bottom: 20px;
    border-bottom: 1px solid #BFDAFF;
    margin-bottom: 10px;
    position: relative;
}

.DTI_Report_Details ul li:last-child {
    padding-bottom: 0;
    border-bottom: none;
    margin-bottom: 60px;
}

.DTI_Report_Details ul {
    padding-left: 20px;
}

.DTI_Report_Details ul li .Docs_Option {
    display: flex;
    gap: 60px;
    margin-left: 30px;
    margin-top: 5px;
}

.DTI_Report_Details ul li .Docs_Option .news_date {
    color: var(--link, #00B2FF);
    font-size: 14px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
    display: flex;
    align-items: center;
}

.DTI_Report_Details ul li .Docs_Option .news_date::before {
    width: 24px;
    height: 24px;
    content: '';
    display: block;
    margin-right: 8px;
    background: url(../images/Lich.png) no-repeat center;
}

.DTI_Report_Details ul li .Docs_Option .status {
    font-size: 14px;
    font-family: 'Roboto Medium';
    font-style: normal;
    font-weight: 500;
    line-height: 20px;
}

.DTI_Report_Details ul li .Docs_Option .tronghan {
    color: var(--green-2, #27AE60);
}

.DTI_Report_Details ul li .Docs_Option .quahan {
    color: #EB5757;
}

.DTI_Report_Details ul li .Docs_Option .xemchitiet a {
    position: absolute;
    right: 0;
    color: var(--link, #00B2FF);
    text-align: right;
    font-size: 14px;
    font-family: 'Roboto Medium';
    font-style: normal;
    font-weight: 500;
    line-height: 20px;
    text-decoration-line: underline;
}

.BaoCaoDTI_ChiTiet_2 .Docs_Name {
    color: var(--text-title, #001DA7);
    font-size: 20px;
    font-family: 'Roboto Medium';
    font-style: normal;
    font-weight: 500;
    line-height: 22px;
    margin-bottom: 10px;
}

.BaoCaoDTI_ChiTiet_2 .DTI_Docs {
    position: relative;
}

.BaoCaoDTI_ChiTiet_2 .huongdan {
    color: var(--text-title, #001DA7);
    font-size: 16px;
    font-family: 'Roboto Medium';
    font-style: normal;
    font-weight: 500;
    line-height: 22px;
    margin-bottom: 10px;
}

.BaoCaoDTI_ChiTiet_2 .howto ul {
    margin-bottom: 15px;
}

.BaoCaoDTI_ChiTiet_2 .howto ul li {
    display: list-item;
    list-style-type: number;
    line-height: 24px;
    padding-left: 5px;
}

.BaoCaoDTI_ChiTiet_2 .point {
    color: #001DA7;
    font-size: 16px;
    font-family: 'Roboto Medium';
    font-style: normal;
    font-weight: 500;
    line-height: 22px;
    margin-bottom: 15px;
}

.BaoCaoDTI_ChiTiet_2 .point .number {
    color: #EB5757;
    font-family: 'Roboto medium';
    font-weight: 500;
}

.BaoCaoDTI_ChiTiet_2 .information ul {
    display: flex;
    flex-wrap: wrap;
    width: 60%;
    margin-bottom: 0
}

.BaoCaoDTI_ChiTiet_2 .information ul li[class*="day"] {
    color: #00B2FF;
    text-align: justify;
    font-size: 14px;
    font-family: 'Roboto Medium';
    font-style: normal;
    font-weight: 500;
    line-height: 20px;
    display: flex;
    align-items: center;
    margin-bottom: 24px;
}

.BaoCaoDTI_ChiTiet_2 .information ul li[class*="day"]::before {
    width: 24px;
    height: 24px;
    content: '';
    display: block;
    margin-right: 8px;
    background: url(../images/Lich.png) no-repeat center;
}

.BaoCaoDTI_ChiTiet_2 .information ul .status-option {
    color: #363636;
    text-align: justify;
    font-size: 14px;
    font-family: 'Roboto Medium';
    font-style: normal;
    font-weight: 500;
    line-height: 20px;
    display: flex;
    align-items: center;
    margin-bottom: 24px;
}

.BaoCaoDTI_ChiTiet_2 .information ul .status-option::before {
    width: 24px;
    height: 24px;
    content: '';
    display: block;
    margin-right: 8px;
    background: url(../images/status.png) no-repeat center;
    background-size: contain;
}

.BaoCaoDTI_ChiTiet_2 .information ul .chuaduyet {
    color: #EB5757;
}

.BaoCaoDTI_ChiTiet_2 .information ul .dat {
    color: #27AE60;
}

.BaoCaoDTI_ChiTiet_2 .information ul .chuadat {
    color: #F1C93B;
}

.BaoCaoDTI_ChiTiet_2 .send-report {
    position: absolute;
    right: 0;
    bottom: 40px;
    border-radius: 4px;
    background: var(--link, #00B2FF);
    height: 44px;
    padding: 8px 20px;
    justify-content: center;
    align-items: center;
    display: inline-flex;
    flex-shrink: 0;
    color: #FFF;
    font-size: 16px;
    font-family: 'Roboto Medium';
    font-style: normal;
    font-weight: 500;
    line-height: 24px;
    cursor: pointer;
    transition: all 0.5 ease-in-out;
}

.BaoCaoDTI_ChiTiet_2 .send-report:hover {
    border-radius: 4px;
    border: 1px solid #00B2FF;
    background: #FFF;
    color: var(--link, #00B2FF);
}

.report-modal .modal-content {
    border-radius: 20px;
    background: #F3F8FF;
    box-shadow: 0px 10px 0px 0px #CDE2FF;
    border: none;
    padding: 30px 50px;
}

.report-modal .modal-header {
    justify-content: center;
}

.report-modal .modal-title {
    color: var(--text, #00123D);
    font-size: 24px;
    font-family: 'Roboto Medium';
    font-style: normal;
    font-weight: 500;
    line-height: 24px;
}

.report-modal .modal-header .close {
    position: absolute;
    right: 20px;
    top: 20px;
}

.report-modal .Docs_Name {
    color: var(--text, #00123D);
    font-size: 16px;
    font-family: 'Roboto Medium';
    font-style: normal;
    font-weight: 500;
    line-height: 24px;
    margin-bottom: 16px;
}

.report-modal .modal-body .form-group {
    display: flex;
    flex-direction: column;
}

.report-modal .modal-body .form-group label {
    color: var(--text, #00123D);
    font-size: 16px;
    font-family: 'Roboto Medium';
    font-style: normal;
    font-weight: 500;
    line-height: 24px;
}

.report-modal .modal-body .form-group textarea,
.report-modal .modal-body .form-group input[type="text"] {
    border-radius: 4px;
    border: 1px solid #C9D7F5;
    background: #FFF;
    padding: 8px 16px;
}

.report-modal .modal-footer {
    padding-top: 0;
    border-top: none;
    justify-content: center;
}

.report-modal .btn {
    border-radius: 4px !important;
    padding: 8px 16px !important;
    font-family: inherit;
    font-style: normal;
    font-size: 16px !important;
    line-height: 24px !important;
    color: #FFFFFF !important;
    font-weight: 500 !important;
    min-width: 130px;
    border: none !important;
    outline: none !important;
}

.report-modal .btn-secondary {
    background: #00B2FF !important;
    border-radius: 4px;
    padding: 8px 16px !important;
    margin-right: 8px;
}

.report-modal .btn-secondary:hover {
    background: #00B2FF !important;
}

.report-modal .btn-outline-primary {
    background: #FFF !important;
    border: 1px solid #00B2FF !important;
    border-radius: 4px;
    padding: 8px 16px;
    color: var(--link, #00B2FF) !important;
}

.report-modal .btn-outline-primary:hover {
    background: #FFF !important;
    color: #000;
}

.report-modal .btn-outline-primary:focus {
    outline: none;
}

.DTI_Back {
    position: absolute;
    top: 8px;
    right: 0;
    display: flex;
    align-items: center;
    color: var(--title, #3247B8);
    font-size: 16px;
    font-family: 'Roboto Medium';
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    cursor: pointer;
}

.red-text {
    color: red;
}

.disabled-link {
    pointer-events: none;
    cursor: default;
    opacity: 0.6;
}


/*DangKyGiaiPhap*/
#GiaiPhap .form-container {
    padding: 3.625rem;
    padding: 0.875rem 3.625rem 0 3.625rem;
}

#GiaiPhap form {
    padding: 1.875rem 2.5rem;
    background: #f9fbff;
    border: 1px solid #e0eeff;
    border-radius: 20px;
}

#GiaiPhap .modal-header {
    padding: 55px 16px 25px 16px;
}

#GiaiPhap .dangki1-bg {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: 30px;
    height: auto;
    max-width: unset;
}

#GiaiPhap .sign1-title {
    display: flex;
    flex-direction: row;
    margin: 0 auto;
    z-index: 1;
}

#GiaiPhap .sign1-title h2 {
    margin-left: 20px;
    display: flex;
    align-items: center;
    text-transform: uppercase;
    color: #ffff;
    margin-bottom: 0;
}

#GiaiPhap .modal-body {
    padding: 30px 50px;
}

.row-12 {
    margin-left: -12px;
    margin-right: -12px;
}

.row-12 div[class*="col-"] {
    padding-left: 12px;
    padding-right: 12px;
}

.box-form {
    border-radius: 15px;
    border: 1px solid #B5D6FF;
    background: #F3F8FF;
    padding: 30px 40px 50px 40px;
}

.box-form .form-group {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
}

.box-form .form-group-row {
    flex-direction: row;
    align-items: center;
}

.box-form .radio-group {
    display: flex;
    gap: 20px;
    margin-left: 40px;
}

.box-form .form-group label {
    color: #001DA7;
    font-size: 18px;
    font-family: 'Mulish SemiBold';
    font-style: normal;
    font-weight: 600;
    line-height: 24px;
    margin-bottom: 5px;
}

.box-form .form-group label.required::after {
    content: '*';
    color: #FF0000;
    margin-left: 5px;
}

.box-form .form-group input,
.box-form .select2 .selection .select2-selection .select2-selection__rendered {
    border: none;
    border-bottom: 1px solid #C0D0F3;
    padding: 8px 0px;
    color: #363636;
    font-size: 16px;
    font-family: 'Mulish';
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    background-color: transparent;
    outline: transparent
}

.box-form .select2 .selection .select2-selection {
    border: none;
    background: none;
    min-height: 41px;
}

.box-form .select2-container .select2-selection .select2-selection__arrow {
    top: 50%;
    transform: translateY(-50%);
}

.box-form .form-group textarea {
    border: 1px solid #C0D0F3;
    background: #FFF;
    padding: 8px 10px;
    min-height: 80px;
}

.box-form .form-group input::placeholder {
    color: #7C94B5;
}

.box-form .radio-group label {
    color: var(--text, #333);
    font-size: 16px;
    font-family: 'Mulish SemiBold';
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

[type="radio"]:checked,
[type="radio"]:not(:checked) {
    position: absolute;
    left: -9999px;
}

[type="radio"]:checked+label,
[type="radio"]:not(:checked)+label {
    position: relative;
    padding-left: 28px;
    cursor: pointer;
    display: inline-block;
    margin-bottom: 0;
}

[type="radio"]:checked+label:before,
[type="radio"]:not(:checked)+label:before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 22px;
    height: 22px;
    border: 1px solid #A4ABCD;
    border-radius: 100%;
    background: #fff;
}

[type="radio"]:checked+label:before {
    border-color: #00B2FF;
}

[type="radio"]:checked+label:after,
[type="radio"]:not(:checked)+label:after {
    content: '';
    width: 14px;
    height: 14px;
    background: #00B2FF;
    position: absolute;
    top: 4px;
    left: 4px;
    border-radius: 100%;
    -webkit-transition: all 0.2s ease;
    transition: all 0.2s ease;
}

[type="radio"]:not(:checked)+label:after {
    opacity: 0;
    -webkit-transform: scale(0);
    transform: scale(0);
}

[type="radio"]:checked+label:after {
    opacity: 1;
    -webkit-transform: scale(1);
    transform: scale(1);
}

.upload-file {
    margin-left: 40px;
    position: relative;
    display: flex;
    align-items: center;
    gap: 20px;
}

.upload-file .select-image {
    border-radius: 4px;
    border: 1px solid #77B1F6;
    background: #C6E0FF;
    padding: 8px 10px;
    cursor: pointer;
    color: var(--text, #00123D);
    font-size: 14px;
    font-family: 'Mulish';
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
}

.upload-file .file-picker {
    padding: 8px 10px;
    cursor: pointer;
    margin-bottom: 0;
    border-radius: 4px;
    border: 1px solid #77B1F6;
    background: #C6E0FF;
    color: var(--text, #00123D) !important;
    font-size: 14px;
    font-family: 'Mulist';
    font-style: normal;
    font-weight: 500;
    line-height: 24px;
    display: flex;
    align-items: center;
}

.upload-file .file-picker::before {
    content: 'upload_file';
    font-family: 'Material Symbols Rounded';
    font-size: 36px;
    color: #6096D8;
    margin-right: 8px;
    font-weight: 300;
}

.upload-file .image-picker::before {
    content: 'add_photo_alternate';
}

#file-chosen,
#file-chosen-2 {
    color: #00A3FF;
    font-size: 16px;
    font-family: 'Mulish';
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
}

.box-captcha {
    border: 1px solid #BAC9E5 !important;
    background: #FFF !important;
    width: 130px;
    height: 46px;
    padding: 10px !important;
    text-align: center;
}

.box-captcha~button {
    background: #7A9FE8;
    min-width: 90px;
    height: 46px;
    padding: 10px;
    border: none;
    color: #FFF;
    font-size: 16px;
    font-family: 'Mulish Medium';
    font-style: normal;
    font-weight: 500;
    line-height: 24px;
}

#GiaiPhap .modal-footer {
    padding-top: 0;
    padding-bottom: 35px;
    border-top: none;
    display: flex;
    align-items: center;
    justify-content: center;
}

#GiaiPhap .modal-footer .group-button {
    display: flex;
    gap: 15px;
}

#GiaiPhap .modal-footer .btn {
    border-radius: 120px;
    min-width: 200px;
    padding: 16px;
    color: #FFF;
    font-size: 18px;
    font-family: 'Mulish Medium';
    font-style: normal;
    font-weight: 500;
    line-height: 24px;
}

#GiaiPhap .modal-footer .confirm-btn {
    background: #F66133;
}

#GiaiPhap .modal-footer .cancel-btn {
    background: #8397AA;
}

@media (min-width: 1200px) {
    #GiaiPhap .modal-xl {
        max-width: 1344px;
    }
}

@media (min-width: 992px) {

    .modal-lg,
    .modal-xl {
        max-width: 888px;
    }

    .modal-custom {
        max-width: 1000px;
    }

    .modal-custom-2 {
        max-width: 1200px;
    }
}

.box-form .box-title {
    font-size: 24px;
    font-family: 'Mulish Bold';
    font-style: normal;
    font-weight: 700;
    line-height: 24px;
    margin-bottom: 20px;
    display: flex;
    align-items: center;
}

.SignerInformation {
    color: #00B2FF;
}

.EventInformation {
    color: #F28686;
}

/****************************************GIẢI PHÁP DÀNH CHO DOANH NGHIỆP*****************************************/

ul,
li {
    padding: 0;
    margin: 0;
}

.DanhSachSanPham .List_SanPham {
    display: flex;
    flex-direction: row;
    gap: 24px;
    margin-bottom: 30px;
}

.DanhSachSanPham .Card_SanPham {
    display: flex;
    border-radius: 8px;
    border: 1px solid #DFEDFF;
    background: #FFF;
    box-shadow: 0px 4px 4px 0px #DAEBFF;
    padding: 15px 20px;
    flex-direction: column;
    align-items: center;
    min-height: 361.38px;
}

.Card_SanPham .card_status.moi {
    background: var(--important, #DE3906);
}

.Card_SanPham .card_status.noibat {
    background: var(--link, #00B2FF);
}

.Card_SanPham .card_status {
    color: #FFF;
    font-family: 'Roboto Medium';
    font-size: 12px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    border-radius: 120px;
    padding: 4px 10px;
    width: fit-content;
    margin: 0 0 0 auto;
}

.Card_SanPham .card_icon {
    width: 100px;
    height: 100px;
    margin-bottom: 10px;
}

.Card_SanPham .card_icon img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.Card_SanPham .card_name {
    color: var(--text-title, #001DA7);
    font-family: 'Roboto Medium';
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    text-align: center;
    margin-bottom: 12px;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    overflow: hidden;
}

.Card_SanPham .card_comp {
    color: var(--text-title, #001DA7);
    font-family: 'Roboto Medium';
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    margin-bottom: 17px;
    display: flex;
    gap: 10px;
    align-items: center;
}

.Card_SanPham .card_comp img {
    width: 25px;
    height: 25px;
    object-fit: contain;
}

.Card_SanPham .card_info {
    color: #505975;
    text-align: center;
    font-family: 'Roboto';
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 1.42;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 5;
    overflow: hidden;
}

.Module_SanPhamNoiBat .row-12 {
    margin-left: -12px;
    margin-right: -12px;
}

.Module_SanPhamNoiBat .row-12 div[class*="col"] {
    padding-left: 12px;
    padding-right: 12px;
}

.LocSanPham {
    display: flex;
    flex-direction: row;
    gap: 24px;
}

.LocSanPham>.SanPham_Filter {
    width: calc(25% - 18px);
}

.LocSanPham>.DanhSachLocSanPham {
    flex-grow: 1;
    width: auto;
}

.SanPham_Filter .LocDanhSach {
    border-radius: 8px;
    background: #EDF7FF;
    display: flex;
    padding: 20px 16px 30px 16px;
    flex-direction: column;
    gap: 20px;
}

.SanPham_Filter .LocDanhSach .Loc_Title {
    color: #3C6EE0;
    font-family: 'Roboto Medium';
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    text-transform: uppercase;
    position: relative;
    width: fit-content;
    background: #EDF7FF;
}

.SanPham_Filter .LocDanhSach .Loc_Title span {
    display: flex;
    align-items: center;
    gap: 10px;
}

.SanPham_Filter .LocDanhSach .Loc_Title span span {
    color: #FFF;
    font-family: 'Roboto Medium';
    font-size: 12px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    text-transform: uppercase;
    border-radius: 180px;
    background: var(--link, #00B2FF);
    width: 20px;
    height: 20px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
}

/* .SanPham_Filter .LocDanhSach .Loc_Title::after {
    content: '';
    border: 1px solid #C9D9FF;
    width: 100%;
    display: block;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 0;
    left: 100%;
} */

.SanPham_Filter .LocDanhSach .Category_Option {
    position: relative;
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.SanPham_Filter .LocDanhSach .Category_Option label {
    color: #505975;
    font-family: 'Roboto';
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 1.375;
    margin: 0;
    margin-bottom: 20px;
}

.SanPham_Filter .LocDanhSach .Category_Option label:last-child {
    margin-bottom: 0;
}

.SanPham_Filter .LocDanhSach .Category_Option span {
    position: absolute;
    right: 0;
}

.SanPham_Filter [type="checkbox"] {
    /* Add if not using autoprefixer */
    -webkit-appearance: none;
    /* Remove most all native input styles */
    appearance: none;
    background-color: transparent;
    margin: 0;
    font: inherit;
    color: currentColor;
    width: 1.15em;
    height: 1.15em;
    border: 0.15em solid #C9D7F5;
    border-radius: 0.15em;
    transform: translateY(-0.075em);
    display: grid;
    place-content: center;
    flex-shrink: 0;
    margin-top: 3px;
}

.SanPham_Filter [type="checkbox"]::before {
    content: "";
    width: 0.65em;
    height: 0.65em;
    clip-path: polygon(14% 44%, 0 65%, 50% 100%, 100% 16%, 80% 0%, 43% 62%);
    transform: scale(0);
    transform-origin: bottom left;
    transition: 120ms transform ease-in-out;
    box-shadow: inset 1em 1em var(--form-control-color);
    /* Windows High Contrast Mode */
    background-color: CanvasText;
}

.SanPham_Filter [type="checkbox"]:checked::before {
    transform: scale(1);
}

/* .SanPham_Filter [type="checkbox"]:focus {
    outline: max(2px, 0.15em) solid currentColor;
    outline-offset: max(2px, 0.15em);
} */

.SanPham_Filter [type="checkbox"]:disabled {
    --form-control-color: var(--form-control-disabled);
    color: var(--form-control-disabled);
    cursor: not-allowed;
}

.DangKyGiaiPhap img {
    width: 100%;
    margin-top: 10px;
    cursor: pointer;
}

.List_LocSanPham {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.List_LocSanPham .DanhSachLoc {
    border-radius: 8px;
    background: #FFF;
    box-shadow: 0px 0px 6px 0px #BDDBFF;
    padding: 15px 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.List_LocSanPham .DanhSachLoc .Loc_Info {
    display: flex;
    align-items: center;
    gap: 15px;
    width: 50%;
}

.List_LocSanPham .DanhSachLoc .Loc_Info img {
    width: 100px;
    height: 100px;
    object-fit: cover;
    flex-shrink: 0;
}

.List_LocSanPham .DanhSachLoc .Loc_Info .Loc_name {
    color: var(--text-title, #001DA7);
    font-family: 'Roboto Medium';
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 1.625;
    /* 162.5% */
}

.List_LocSanPham .DanhSachLoc .Loc_comp {
    display: flex;
    gap: 10px;
    align-items: center;
}

.List_LocSanPham .DanhSachLoc .Loc_comp img {
    width: 50px;
    height: 50px;
    object-fit: contain;
}

.List_LocSanPham .DanhSachLoc .Loc_comp span {
    color: var(--text-title, #001DA7);
    font-family: 'Roboto Medium';
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.List_LocSanPham .DanhSachLoc .Btn_Details button {
    border-radius: 4px;
    min-width: 85px;
    background: var(--link, #00B2FF);
    padding: 10px;
    color: #FFF;
    font-family: 'Roboto';
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    border: none;
    outline: none;
}

.ChiTietSanPham .TieuDeSanPham {
    display: flex;
    gap: 25px;
    margin-bottom: 40px;
    position: relative;
}

.ChiTietSanPham .TieuDeSanPham .SanPham_Image {
    border-radius: 15px;
    border: 1px solid #E2E2E2;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    padding: 10px;
    width: 150px;
    height: 150px;
}

.ChiTietSanPham .TieuDeSanPham .SanPham_Image img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.ChiTietSanPham .TieuDeSanPham .TenSanPham {
    color: var(--text-title, #001DA7);
    font-family: 'Roboto Medium';
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    margin-bottom: 15px;
}

.ChiTietSanPham .TieuDeSanPham .LoaiSanPham {
    color: var(--text-title, #001DA7);
    font-family: 'Roboto';
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.ChiTietSanPham .TieuDeSanPham .SuDungSanPham {
    position: absolute;
    right: 0;
    bottom: 0;
    display: flex;
    gap: 10px;
}

.ChiTietSanPham_Details .title {
    color: #001DA7;
    font-family: 'Roboto Medium';
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    text-transform: uppercase;
    margin-bottom: 10px;
    text-align: left;
}

.ChiTietSanPham_Details>div:not(:first-child) {
    margin-bottom: 25px;
}

.ChiTietSanPham_Details .content {
    color: #363636;
    text-align: justify;
    font-family: 'Roboto';
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    /* 150% */
}

.ChiTietSanPham_Details .content .list {
    color: var(--text-title, #001DA7);
    text-align: justify;
    font-family: 'Roboto Medium';
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px;
    /* 150% */
}

.ChiTietSanPham_Details br {
    margin-bottom: 15px;
}

.ChiTietSanPham_Details .SlideHinhAnh img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.Other_SanPham .Bluebox {
    border-radius: 8px;
    background: #EDF7FF;
    padding: 20px 16px;
    margin-bottom: 10px;
}

.Bluebox .title {
    color: #3C6EE0;
    font-family: 'Roboto Medium';
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    text-transform: uppercase;
    text-align: left;
    margin-bottom: 15px;
}

.Bluebox ul li {
    display: flex;
    gap: 16px;
    margin-bottom: 10px;
    padding-bottom: 10px;
    border-bottom: 1px solid #C9D9FF;
}

.Bluebox ul li:last-child {
    margin-bottom: 0;
    padding-bottom: 0;
    border-bottom: none;
}

.Bluebox ul li img {
    width: 70px;
    height: 70px;
    border-radius: 6px;
}

.Bluebox ul li .TenSanPham {
    color: #001DA7;
    font-family: 'Roboto Medium';
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 22px;
    /* 157.143% */
}

.Module_SanPhamNoiBat {
    margin-bottom: 60px;
}

.List_SanPhamNoiBat .owl-stage-outer {
    padding-bottom: 30px;
}

.detailLink:hover {
    cursor: pointer;
}

/************* LOADER ***********/

.loader-demo-box {
    border-radius: 0.25rem !important;
}

.loader-demo-box {
    width: 100%;
    height: 200px;
}

.jumping-dots-loader {
    width: 100px;
    height: 100px;
    border-radius: 100%;
    position: relative;
    margin: 0 auto;
}

.jumping-dots-loader span {
    display: inline-block;
    width: 20px;
    height: 20px;
    border-radius: 100%;
    background-color: #74BCFF;
    margin: 35px 5px;
}

.jumping-dots-loader span:nth-child(1) {
    animation: bounce 1s ease-in-out infinite;
}

.jumping-dots-loader span:nth-child(2) {
    animation: bounce 1s ease-in-out 0.33s infinite;
}

.jumping-dots-loader span:nth-child(3) {
    animation: bounce 1s ease-in-out 0.66s infinite;
}

@keyframes bounce {

    0%,
    75%,
    100% {
        -webkit-transform: translateY(0);
        -ms-transform: translateY(0);
        -o-transform: translateY(0);
        transform: translateY(0);
    }

    25% {
        -webkit-transform: translateY(-20px);
        -ms-transform: translateY(-20px);
        -o-transform: translateY(-20px);
        transform: translateY(-20px);
    }
}

.pre_loading {
    position: fixed;
    top: 50vh;
    left: 58%;
}

.d-none {
    display: none;
}

/***********************NOTIFY**************************/
div[data-notify="container"] {
    border-radius: 4px !important;
    padding: 12px 16px !important;
    z-index: 2000 !important;
}

    div[data-notify="container"] span[data-notify="message"] {
        font-family: 'Roboto';
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
    }

    div[data-notify="container"] button[data-notify="dismiss"] {
        font-size: 0;
        opacity: 1 !important;
        margin-top: 5px !important;
    }

        div[data-notify="container"] button[data-notify="dismiss"]::after {
            content: 'close';
            font-family: 'Material Symbols Rounded';
            font-weight: 300;
            font-size: 20px;
            opacity: 1;
        }

.alert-Danger {
    border: 1px solid #FFE2E2 !important;
    background: #FFEAEA !important;
}

    .alert-Danger span[data-notify="message"],
    .alert-Danger button[data-notify="dismiss"]::after {
        color: #BF5151;
    }

.alert-Success {
    border: 1px solid #B3DEB5 !important;
    background: #E6F4E7 !important;
}

    .alert-Success span[data-notify="message"],
    .alert-Success button[data-notify="dismiss"]::after {
        color: #4DAB54;
    }

.alert-Info {
    border: 1px solid #ADD4F6 !important;
    background: #E0EEFB !important;
}

    .alert-Info span[data-notify="message"],
    .alert-Info button[data-notify="dismiss"]::after {
        color: #368AD1;
    }

.alert-Warning {
    border: 1px solid #F1CFA1 !important;
    background: #FFF1DC !important;
}

    .alert-Warning span[data-notify="message"],
    .alert-Warning button[data-notify="dismiss"]::after {
        color: #E08B17;
    }

.search-filter {
    display: flex;
    align-items: center;
    gap: 12px;
}