﻿@{
    Layout = "~/DesktopModules/MVC/ChuyenDoiSoTrinhDien/Views/Shared/_Layout.cshtml";
}

@*
    Name: DongLHP;
    Date: 30-06-2023;
    Function: Hiển thị báo cáo chỉ số các cấp Sở, Huyện Xã;
*@

<!-- Báo cáo chỉ số DTI - Danh sách chính -->
<div class="BaoCaoDTI">
    <div class="filter-row">
        <div class="tab-filter">
            @*<a class="tab-option active" id="CapQuocGia">Cấp quốc gia</a>*@
            <a class="tab-option active" id="CapSo">Cấp sở</a>
            <a class="tab-option" id="CapHuyen">Cấp huyện</a>
            <a class="tab-option" id="CapXa">Cấp xã</a>
        </div>
        <div class="search-filter">
            <div class="search-box">
                <input type="text" placeholder="Nhập tên cơ quan" class="search-option" name="" id="searchCoQuan">
                <div class="search-function"></div>
            </div>
            <div class="search-box">
                <select id="select_year"></select>
            </div>
        </div>
    </div>

    <!-- <div class="danhsachcoso">
        <ul id="danhSachDonVi">

        </ul>
    </div> -->

    <div class="danhsachcoso DTI_Report_Details" style="position:relative;">
        <div class="pre_loading">
            <div class="jumping-dots-loader">
                <span></span>
                <span></span>
                <span></span>
            </div>
            <div class="moving-gradient"></div>
        </div>
        <table class="danhsachdonvi dataGrid_BaoCaoChiSo" id="danhSachDonVi_table">
            <thead>
                <tr>
                    <th rowspan="2" style="width:auto">Cơ quan chuyên môn</th>
                    <th rowspan="2" class="text-center" style="width:120px">Nhiệm vụ</th>
                    <th rowspan="2" class="text-center" style="width:120px">Tổng điểm phê duyệt / điểm tối đa</th>
                    <th colspan="4" class="text-center" style="width:auto;border-bottom:1px solid #A9CFFF;">Trạng thái</th>
                </tr>
                <tr>
                    <th class="text-center" style="width:120px">Đạt</th>
                    <th class="text-center" style="width:120px">Chưa đạt</th>
                    <th class="text-center" style="width:120px">Không đạt</th>
                </tr>
            </thead>
            <tbody>
            </tbody>
        </table>
    </div>
</div>

<script>
    let currentTime = $.now();
    let currentDate = new Date(currentTime);
    let currentYear = currentDate.getFullYear();

    $(document).ready(function () {

        LoadYearToSelect();

        var searchCapQuocGia = [];
        var searchCapSo = [];
        var searchCapHuyen = [];
        var searchCapXa = [];
        var activeData = 'CapSo'; // Mặc định activeData là 'CapSo' (cấp sở)

        $('#select_year').select2({
            minimumResultsForSearch: -1,
            width: $(this).data('width') ? $(this).data('width') : $(this).hasClass('w-100') ? '100%' : 'style',
        });

        let valueYear = $("#select_year").val();

        // Hàm hiển thị dữ liệu dựa vào cấp dữ liệu hiện tại
        function displayData(data) {
            $('#danhSachDonVi_table tbody').empty();
            $('.pre_loading').show();
            var tenDaXuatHien = [];
            let indexArray = 0;
            let flag = false;
            if (data.length != 0) {
                data.forEach(function (item) {
                    if (!tenDaXuatHien.includes(item.tendonvithuchien)) {
                        let tongSoNhiemVu = 0;
                        let nhiemVuDat = 0;
                        let nhiemVuChuaDat = 0;
                        let nhiemVuKhongDat = 0;
                        let i = 0;

                        $.ajax({
                            url: '/api/ChuyenDoiSoTrinhDien/CoQuanDonViApi/DanhSachCoQuanGet?donvithuchien=' + item.donvithuchien + '&capapdung=' + item.capapdung + '&tieuchi=0' + '&nam=' + item.nambaocao,
                            type: "get",
                            success: function (data) {
                                tongSoNhiemVu = data.data.length;
                                let totalPoint = 0;
                                let totalPointMax = 0;

                                for (var i = 0; i < data.data.length; i++) {
                                    if (data.data[i].pheduyet == 1) {
                                        nhiemVuDat++;
                                    } else if (data.data[i].pheduyet == 2) {
                                        nhiemVuChuaDat++;
                                    } else {
                                        nhiemVuKhongDat++;
                                    }
                                    totalPoint += Number(data.data[i].diempheduyet);
                                    //LÀM TRÒN 2 SỐ THẬP PHÂN CUỐI
                                    totalPoint = Number(totalPoint.toFixed(2));

                                    totalPointMax += Number(data.data[i].diemtoida);
                                }
                                let uri = window.location.origin + window.location.pathname;
                                let chiTietUrl = uri + "?id=" + item.donvithuchien + "&capapdung=" + item.capapdung + "&nam=" + valueYear;

                                $('#danhSachDonVi_table tbody').append(
                                    `
                                  <tr class="coso-list test ${activeData}">
                                    <td><a class="coso-name name-text" href="${chiTietUrl}">${item.tendonvithuchien}</a></td>
                                    <td class="text-center" style="color:#00B2FF;">${tongSoNhiemVu}</td>
                                    <td class="text-center" style="color:#C5A34B;">${totalPoint}/${totalPointMax}</td>
                                    <td class="text-center" style="color:#0FA300;">${nhiemVuDat}</td>
                                    <td class="text-center" style="color:#363636;">${nhiemVuChuaDat}</td>
                                    <td class="text-center" style="color:#DE3906;">${nhiemVuKhongDat}</td>
                                  </tr>
                                `
                                )
                                // Sắp xếp lại các hàng trong bảng dựa trên giá trị totalPoint
                                let rows = $('#danhSachDonVi_table tbody').find('tr').get();
                                rows.sort(function (a, b) {
                                    let pointA = parseFloat($(a).find('td').eq(2).text().split('/')[0]);
                                    let pointB = parseFloat($(b).find('td').eq(2).text().split('/')[0]);
                                    return pointB - pointA;
                                });

                                // Ghi đè lại bảng với thứ tự mới
                                $.each(rows, function (index, row) {
                                    $('#danhSachDonVi_table tbody').append(row);
                                });

                                switch (activeData) {
                                    //case 'CapQuocGia':
                                    //    $('#CapSo').addClass('disabled-link');
                                    //    $('#CapHuyen').addClass('disabled-link');
                                    //    $('#CapXa').addClass('disabled-link');
                                    //    break;
                                    case 'CapSo':
                                        $('#CapQuocGia').addClass('disabled-link');
                                        $('#CapHuyen').addClass('disabled-link');
                                        $('#CapXa').addClass('disabled-link');
                                        break;
                                    case 'CapHuyen':
                                        $('#CapQuocGia').addClass('disabled-link');
                                        $('#CapXa').addClass('disabled-link');
                                        $('#CapSo').addClass('disabled-link');
                                        break;
                                    case 'CapXa':
                                        $('#CapQuocGia').addClass('disabled-link');
                                        $('#CapHuyen').addClass('disabled-link');
                                        $('#CapSo').addClass('disabled-link');
                                        break;
                                    default:
                                        break;
                                }
                                $('.pre_loading').hide();
                                indexArray++;
                                if (indexArray == tenDaXuatHien.length) {
                                    flag = true;
                                }
                            }

                        }).done(function () {
                            if (flag) {
                                //$('#CapQuocGia').removeClass('disabled-link');
                                $('#CapHuyen').removeClass('disabled-link');
                                $('#CapSo').removeClass('disabled-link');
                                $('#CapXa').removeClass('disabled-link');
                            }
                        })
                        tenDaXuatHien.push(item.tendonvithuchien);
                    }
                });
            } else {
                $('.pre_loading').hide();
                $('#danhSachDonVi_table tbody').append(`<tr><td colspan="5" class="text-center">Bảng trống</td></tr>`)
            }
        }

        $("#searchCoQuan").keyup(function (event) {
            if (event.keyCode === 13) {
                var searchKeyword = $(this).val().toLowerCase();
                var searchResults = [];

                switch (activeData) {
                    //case 'CapQuocGia':
                    //    searchResults = searchCapQuocGia.filter(item => item.tendonvithuchien.toLowerCase().includes(searchKeyword.toLowerCase()));
                    //    break;
                    case 'CapSo':
                        searchResults = searchCapSo.filter(item => item.tendonvithuchien.toLowerCase().includes(searchKeyword));
                        break;
                    case 'CapHuyen':
                        searchResults = searchCapHuyen.filter(item => item.tendonvithuchien.toLowerCase().includes(searchKeyword));
                        break;
                    case 'CapXa':
                        searchResults = searchCapXa.filter(item => item.tendonvithuchien.toLowerCase().includes(searchKeyword));
                        break;
                }
                displayData(searchResults);
            }
        });

        $('.search-function').click(function () {
            var searchKeyword = $("#searchCoQuan").val().toLowerCase();
            var searchResults = [];

            switch (activeData) {
                //case 'CapQuocGia':
                //    searchResults = searchCapQuocGia.filter(item => item.tendonvithuchien.toLowerCase().includes(searchKeyword.toLowerCase()));
                //    break;
                case 'CapSo':
                    searchResults = searchCapSo.filter(item => item.tendonvithuchien.toLowerCase().includes(searchKeyword));
                    break;
                case 'CapHuyen':
                    searchResults = searchCapHuyen.filter(item => item.tendonvithuchien.toLowerCase().includes(searchKeyword));
                    break;
                case 'CapXa':
                    searchResults = searchCapXa.filter(item => item.tendonvithuchien.toLowerCase().includes(searchKeyword));
                    break;
            }
            displayData(searchResults);
        })

        $("#select_year").on("change", async function () {
            valueYear = $("#select_year").val();
            var searchResults = [];
            switch (activeData) {
                case 'CapSo':
                    await DanhSachCoQuanOnchange(valueYear);
                    searchResults = searchCapSo
                    break;
                case 'CapHuyen':
                    await DanhSachCoQuanOnchange(valueYear);
                    searchResults = searchCapHuyen;
                    break;
                case 'CapXa':
                    await DanhSachCoQuanOnchange(valueYear);
                    searchResults = searchCapXa;
                    break;
            }
            displayData(searchResults);

        })
        // Hàm thiết lập event handlers khi chuyển giữa các cấp dữ liệu
        function setupDataSwitch() {
            //$('#CapQuocGia').on('click', function () {
            //    activeData = 'CapQuocGia';
            //    $(this).addClass('active');
            //    $('#CapSo').removeClass('active');
            //    $('#CapHuyen').removeClass('active');
            //    $('#CapXa').removeClass('active');
            //    displayData(searchCapQuocGia);
            //    $('#searchCoQuan').val('');
            //});

            $('#CapSo').on('click', function () {
                activeData = 'CapSo';
                $(this).addClass('active');
                //$('#CapQuocGia').removeClass('active');
                $('#CapHuyen').removeClass('active');
                $('#CapXa').removeClass('active');
                displayData(searchCapSo);
                $('#searchCoQuan').val('');
            });

            $('#CapHuyen').on('click', function () {
                activeData = 'CapHuyen';
                $(this).addClass('active');
                //$('#CapQuocGia').removeClass('active');
                $('#CapSo').removeClass('active');
                $('#CapXa').removeClass('active');
                displayData(searchCapHuyen);
                $('#searchCoQuan').val('');
            });

            $('#CapXa').on('click', function () {
                activeData = 'CapXa';
                $(this).addClass('active');
                //$('#CapQuocGia').removeClass('active');
                $('#CapSo').removeClass('active');
                $('#CapHuyen').removeClass('active');
                displayData(searchCapXa);
                $('#searchCoQuan').val('');
            });
        }

        //$.ajax({
        //    url: '/api/ChuyenDoiSoTrinhDien/CoQuanDonViApi/DanhSachCapQuocGia',
        //    type: "get",
        //    success: function (data) {
        //        searchCapQuocGia = data.data;
        //        displayData(searchCapQuocGia);
        //        setupDataSwitch(); // Thiết lập event handlers sau khi dữ liệu CapSo có sẵn
        //    }
        //})

        function getApiAjaxJson(url, type, data) {
            let urlBase = getUrlCurrent()

            if (data) {
                return $.ajax({
                    type: type,
                    url: urlBase + url,
                    contentType: "application/json; charset=utf-8",
                    data: data
                });
            }

            return $.ajax({
                type: type,
                url: urlBase + url,
                contentType: "application/json; charset=utf-8"
            });
        }

        // XUWY LÝ ĐỒNG BỘ DỮ LIỆU HIỆN RA (CMT DO CHƯA CẦN THIẾT)
        //async function DanhSachCoQuan(valueYear) {
        //    await Promise.allSettled([
        //        getApiAjaxJson('/api/ChuyenDoiSoTrinhDien/CoQuanDonViApi/DanhSachCapSo?year=' + valueYear,"GET"),
        //        getApiAjaxJson('/api/ChuyenDoiSoTrinhDien/CoQuanDonViApi/DanhSachCapHuyen?year=' + valueYear,"GET"),
        //        getApiAjaxJson('/api/ChuyenDoiSoTrinhDien/CoQuanDonViApi/DanhSachCapXa?year=' + valueYear,"GET"),
        //    ])
        //        .then(([so, huyen, xa]) => {
        //            if (so.status == "fulfilled") {
        //                searchCapSo = so.value.data;
        //                displayData(searchCapSo);
        //                setupDataSwitch(); // Thiết lập event handlers sau khi dữ liệu CapSo có sẵn
        //            }

        //            if (huyen.status == "fulfilled") {
        //                searchCapHuyen = huyen.value.data;
        //            }

        //            if (xa.status == "fulfilled") {
        //                searchCapXa = xa.value.data;
        //            }
        //        })
        //}


        $.ajax({
            url: '/api/ChuyenDoiSoTrinhDien/CoQuanDonViApi/DanhSachCapSo?year=' + valueYear,
            type: "get",
            success: function (data) {
                searchCapSo = data.data;
                displayData(searchCapSo);
                setupDataSwitch(); // Thiết lập event handlers sau khi dữ liệu CapSo có sẵn
            }
        })

        $.ajax({
            url: '/api/ChuyenDoiSoTrinhDien/CoQuanDonViApi/DanhSachCapHuyen?year=' + valueYear,
            type: "get",
            success: function (data) {
                searchCapHuyen = data.data;
            }
        })

        $.ajax({
            url: '/api/ChuyenDoiSoTrinhDien/CoQuanDonViApi/DanhSachCapXa?year=' + valueYear,
            type: "get",
            success: function (data) {
                searchCapXa = data.data;
            }
        });    

        async function DanhSachCoQuanOnchange(valueYear) {
            $('#danhSachDonVi_table tbody').empty();
            $('.pre_loading').show();

            await Promise.allSettled([
                getApiAjaxJson('/api/ChuyenDoiSoTrinhDien/CoQuanDonViApi/DanhSachCapSo?year=' + valueYear, "GET"),
                getApiAjaxJson('/api/ChuyenDoiSoTrinhDien/CoQuanDonViApi/DanhSachCapHuyen?year=' + valueYear, "GET"),
                getApiAjaxJson('/api/ChuyenDoiSoTrinhDien/CoQuanDonViApi/DanhSachCapXa?year=' + valueYear, "GET"),
            ])
                .then(([so, huyen, xa]) => {
                    if (so.status == "fulfilled") {
                        searchCapSo = so.value.data;
                    }

                    if (huyen.status == "fulfilled") {
                        searchCapHuyen = huyen.value.data;
                    }

                    if (xa.status == "fulfilled") {
                        searchCapXa = xa.value.data;
                    }
                })
        }

        function LoadYearToSelect() {
            $.ajax({
                type: "GET",
                url: '/api/ChuyenDoiSoTrinhDien/CoQuanDonViApi/DanhSachNamBaoCao',
                async: false,
                success: function (data) {
                    if (data.data.length > 0) {
                        $("#select_year").empty();
                        for (var i = 0; i < data.data.length; i++) {
                            $("#select_year").append(`<option value="${data.data[i].id}">${data.data[i].nambc}</option>`);
                            $("#select_year option[value='" + data.data[i].id + "']").prop("selected", false);
                            // Chuyển đổi currentYear thành chuỗi trước khi so sánh
                            if (String(currentYear) === data.data[i].nambc) {
                                $("#select_year option[value='" + data.data[i].id + "']").prop("selected", true);
                            }
                        }

                    }
                }
            });
        }
    });

</script>

