﻿
@{
    Layout = "~/DesktopModules/MVC/ChuyenDoiSoTrinhDien/Views/Shared/_Layout.cshtml";
}

@*
    Name: DongLHP;
    Date: 04-0;
    Function: Báo cáo từng hạng mục;
*@

<!-- Báo cáo chỉ số DTI - Chi tiết báo cáo của từng mục -->
<div class="BaoCaoDTI_ChiTiet_2">
    <div class="DTI_Back" onclick="history.back()">
        <span class="material-symbols-rounded">undo</span>Quay lại
    </div>
    <div class="DTI_Title">
        <div class="DTI_Breadcrum">
            <span class="DTI_CoSo" id="tenDonVi"></span>
            <span class="material-symbols-rounded">chevron_right</span>
            <span class="Ranking">Bộ chỉ số xếp hạng</span>
        </div>
        <div class="DTI_QnA">
            <a href="">
                <img src="/images/QnA.png" alt="">
            </a>
        </div>
    </div>

    <div class="DTI_Docs">
        <div class="Docs_Name" id="congvieccuthe"></div>
        <div class="huongdan">
            Hướng dẫn thực hiện:
        </div>
        <div class="howto" id="huongDanThucHien">
        </div>
        <div class="point">
            Điểm tối đa: <span class="number" id="diemToiDa"></span>
        </div>
        <div class="information row">
            <ul class="col-md-12 row">
                <li class="finished-day col-md-5">Thời gian hoàn thành:&nbsp;<span class="number" id="thoiGianHoanThanh"></span></li>
                <li class="verified-day col-md-5">Ngày phê duyệt:&nbsp;<span class="number" id="ngayPheDuyet"></span></li>
                <li class="reported-day col-md-5">Ngày gửi báo cáo:&nbsp;<span class="number" id="ngayBaoCao"></span></li>
                <li class="status-option col-md-5">Trạng thái phê duyệt:&nbsp;<span class="status" id="trangThai"></span></li>
            </ul>
        </div>
        <div class="send-report">
            <a data-toggle="modal" data-target=".report-modal">Gửi báo cáo</a>
        </div>
    </div>
</div>

     @*Modal-BaoCao*@
<div class="modal fade report-modal" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Báo cáo</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close" onclick="emptyBaoCao()">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="Docs_Name" id="tenBaoCao"></div>
                <div class="form-group">
                    <label>Nội dung<span class="red-text"> *</span></label>
                    <textarea style="height:100px" class="Noidung" id="noiDungBaoCao" placeholder="Nhập nội dung..."></textarea>
                </div>
                <div class="form-group">
                    <label>Đính kèm file<span class="red-text"> *</span></label>
                    <input type="file" id="fileUpLoad" name="fileUpLoad">
                </div>
                <div id="list-file"></div>
                <div class="form-group">
                    <label>Ghi chú<span class="red-text"> *</span></label>
                    <textarea style="height:100px" class="Ghichu" id="ghiChuBaoCao" placeholder="Nhập ghi chú..."></textarea>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" onclick="addBaoCao()" id="btn-confirm">Xác nhận</button>
                <button type="button" class="btn btn-outline-primary" data-dismiss="modal" onclick="emptyBaoCao()">Hủy</button>
            </div>
        </div>
    </div>
</div>

<script>
    const url = window.location;
    const APIURL = url.protocol + "//" + url.hostname + url.port;

    let idItem = '@ViewBag.ItemId';
    let noiDungGlobal = '';
    let ghiChuGlobal = '';
    var dataFiles_formData = new FormData();
    var pathFolder = "~/Desktopmodules/FileUpload/BaoCao";
    var pathThuMuc = "Desktopmodules/FileUpload/BaoCao";
    let rs = null;

    $(document).ready(function () {
        $.ajax({
            url: '/api/ChuyenDoiSoTrinhDien/CoQuanDonViApi/DanhSachCoQuanGetId?id=' + idItem,
            type: 'get',
            success: function (data) {
                $('#tenDonVi').text(data.data.tendonvithuchien);
                $('#congvieccuthe').text(data.data.congvieccuthe);
                $('#tenBaoCao').text(data.data.congvieccuthe);
                $('#diemToiDa').text(data.data.diemtoida);
                $('#thoiGianHoanThanh').text(formatDate(data.data.thoigianhoanthanh));
                $('#ngayBaoCao').text(formatDate(data.data.ngaybaocao) == '01/01/1970' ? " " : formatDate(data.data.ngaybaocao));

                $('#list-file').empty();
                if (data.data.filekiemchung != null && data.data.filekiemchung != "") {
                    let filename = data.data.filekiemchung.substring(data.data.filekiemchung.lastIndexOf('/') + 1);
                    let html = `<a href="${data.data.filekiemchung}" download><span class="text-blue text-medium">${filename}</span><span class="icon icon-download-file"></span></a>`
                    $('#list-file').append(html);
                }

                noiDungGlobal = data.data.noidungbaocao;
                ghiChuGlobal = data.data.ghichu;

                if (data.data.pheduyet == 1) {
                    $('#trangThai').text(data.data.tenpheduyet);
                    $('#trangThai').addClass('dat');
                    $('#ngayPheDuyet').text(formatDate(data.data.ngaycapnhat) == '01/01/1970' ? " " : formatDate(data.data.ngaycapnhat));
                } else if (data.data.pheduyet == 2) {
                    $('#trangThai').text(data.data.tenpheduyet);
                    $('#trangThai').addClass('chuadat');
                    $('#ngayPheDuyet').text(formatDate(data.data.ngaycapnhat) == '01/01/1970' ? " " : formatDate(data.data.ngaycapnhat));

                } else {
                    $('#trangThai').text('Chưa phê duyệt');
                    $('#trangThai').addClass('chuaduyet')
                }

                if (data.data.trangthaibaocao == 2) {
                    $('#btn-confirm').css('opacity', '0.1');
                    $('#btn-confirm').prop('disabled', true);
                }

                var jsonString = data.data.huongdanthuchien;
                var cleanedJsonString = jsonString.slice(1, -1); // Loại bỏ dấu ngoặc kép
                var items = cleanedJsonString.split(/\r\n|\r|\n/);
                var html = '<ol>';
                for (var i = 0; i < items.length; i++) {
                    if (items[i].trim() !== '') {
                        html += '<li>' + items[i] + '</li>';
                    }
                }
                html += '</ol>';
                $('#huongDanThucHien').html(html);

                if (data.data.trangthaibaocao != 0) {
                    $('#noiDungBaoCao').val(data.data.noidungbaocao);
                    $('#ghiChuBaoCao').val(data.data.ghichu);
                }
            },
        });


    })

    function addBaoCao() {
        let id = idItem;
        let noiDung = $('#noiDungBaoCao').val();
        let ghiChu = $('#ghiChuBaoCao').val();
        let fileKiemChung = $('#fileUpLoad')[0].files[0]

        let form_data = new FormData();
        if (!fileKiemChung) {
            alert("Chưa tải đính kèm file!");
            return;
        }

        let filename = `${formatDatePhoTo()}_${fileKiemChung.name}`;

        form_data.append(fileKiemChung.name, fileKiemChung, filename);


        const currentDate = new Date();
        const year = currentDate.getFullYear();
        const month = currentDate.getMonth() + 1; // Tháng bắt đầu từ 0, cần +1
        const day = currentDate.getDate();

        const datetime = pad(day) + '/' + pad(month) + '/' + year;

        if (checkEmptyBlank(noiDung) || checkEmptyBlank(ghiChu)) {
            alert('Thông tin bắt buộc không được để trống!');
            return
        }

        const res = {
            "id": id,
            "noidungbaocao": noiDung,
            "ghichu": ghiChu,
            "ngaybaocao": datetime,
            "trangthaibaocao": "2",
            "filekiemchung": filename,
        }
        //ADD file vào thư mục
        fileUpload(form_data);

        $.ajax({
            url: '/api/ChuyenDoiSoTrinhDien/CoQuanDonViApi/UpdateBaoCao',
            type: 'post',
            data: res,
            success: function () {
                $('.report-modal').modal('hide');
                alert("Gửi báo cáo thành công");
                location.reload();
            },
        })
    }

    function pad(number) {
        return (number < 10 ? '0' : '') + number;
    }

    // format-day
    function formatDate(date) {
        var d = new Date(date),
            month = '' + (d.getMonth() + 1),
            day = '' + d.getDate(),
            year = d.getFullYear()
        if (month.length < 2) month = '0' + month
        if (day.length < 2) day = '0' + day
        return [day, month, year].join('/');
    }

    function checkEmptyBlank(str) {
        if (str.trim().length === 0 || str == null) {
            return true
        }
        return false
    }

    function emptyBaoCao() {
        $('#noiDungBaoCao').val(noiDungGlobal);
        $('#ghiChuBaoCao').val(ghiChuGlobal);
    }

    // format photo
    function formatDatePhoTo() {
        var d = new Date(),
            month = '' + (d.getMonth() + 1),
            day = '' + d.getDate(),
            year = d.getFullYear(),
            hour = d.getHours(),
            minute = d.getMinutes(),
            second = d.getSeconds()

        if (month.length < 2) month = '0' + month
        if (day.length < 2) day = '0' + day
        if (hour.length < 2) hour = '0' + hour
        if (minute.length < 2) minute = '0' + minute
        if (second.length < 2) second = '0' + second

        return [year, month, day, hour, minute, second].join('')
    }

    // UPLOAD FILE
    function fileUpload(file) {
        $.ajax({
            async: false,
            url: "/api/ChuyenDoiSoTrinhDien/UploadFileApi/UploadFiles/?pathFolder=" + pathFolder + "&pathThuMuc=" + pathThuMuc,
            method: "POST",
            data: file,
            processData: false,
            contentType: false,
            success: function (data) {
                if (data.IsSuccessed && data.ResultObj.length > 0) {
                    rs = data;
                }
            },
            error: function (err) {
                console.log('Lỗi: fileUpload!');
            }
        })
        return rs
    }
</script>
