﻿@{
    Layout = "~/DesktopModules/MVC/ChuyenDoiSoTrinhDien/Views/Shared/_Layout.cshtml";
}

@*
    Name: DongLHP;
    Date: 04-0;
    Function: Chi tiết nhiệm vụ của từng đơn vị;
*@

<!-- Báo cáo chỉ số DTI - Chi tiết từng sở/trung tâm -->
<style>
    .LocKetQua {
        margin-bottom: 12px;
    }

        .LocKetQua .select2-container {
            width: 200px !important;
        }

    .LocKetQua .select2-container--default .select2-selection--single {
        border: 1px solid #E6E6E6;
        border-radius: 4px;
        height: 36px;
    }

        .LocKetQua .select2-container--default .select2-selection--single .select2-selection__rendered {
            line-height: 36px;
            font-family: 'Roboto';
            font-size: 16px;
            font-style: normal;
            font-weight: 400;
        }

        .LocKetQua .select2-container--default .select2-selection--single .select2-selection__arrow {
            top: 6px;
        }


</style>

<div class="BaoCaoDTI_ChiTiet">
    <div class="DTI_Back" id="btn-back">
        <span class="material-symbols-rounded">undo</span>Quay lại
    </div>
    <div class="DTI_Report_Details">
        <div class="pre_loading">
            <div class="jumping-dots-loader">
                <span></span>
                <span></span>
                <span></span>
            </div>
            <div class="moving-gradient"></div>
        </div>
        <div class="LocKetQua d-none">
            <select id="filterStatus"></select>
        </div>
        <table id="dataGrid_NvuDonVi" class="dataGrid_BaoCaoChiSo">
            <thead>
                <tr>
                    <th style="width:60px" class="text-center">STT</th>
                    <th style="width:auto">Nhiệm vụ</th>
                    <th style="width:140px" class="text-center">Thời gian</th>
                    <th style="width:140px" class="text-center">Trạng thái</th>
                    <th style="width:140px" class="text-center">Tình trạng</th>
                    <th style="width:130px" class="text-center">Thao tác</th>
                </tr>
            </thead>
            <tbody>
            </tbody>
        </table>
    </div>
</div>

@*Modal-BaoCao*@
<div class="modal fade report-modal" id="report-modal" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Báo cáo</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close" onclick="emptyBaoCao()">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <input type="hidden" id="idReport" />
                <div class="Docs_Name" id="tenBaoCaos"></div>
                <div class="form-group">
                    <label>Nội dung<span class="red-text"> *</span></label>
                    <textarea style="height:100px" class="Noidung" id="noiDungBaoCao" placeholder="Nhập nội dung..."></textarea>
                </div>
                <div class="form-group">
                    <label>Đính kèm file</label>
                    <input type="file" id="fileUpLoad" name="fileUpLoad">
                </div>
                <div class="form-group">
                    <label>Ghi chú</label>
                    <textarea style="height:100px" class="Ghichu" id="ghiChuBaoCao" placeholder="Nhập ghi chú..."></textarea>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" onclick="addBaoCao()" id="btn-confirm">Xác nhận</button>
                <button type="button" class="btn btn-outline-primary" data-dismiss="modal" onclick="emptyBaoCao()">Hủy</button>
            </div>
        </div>
    </div>
</div>

@*Modal-BaoCao-Edit*@
<div class="modal fade report-modal" id="report-modal-edit" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Chỉnh sửa báo cáo</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close" onclick="emptyBaoCaoEdit()">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <input type="hidden" id="idReport" />
                <div class="Docs_Name" id="tenBaoCaoEdit"></div>
                <input type="hidden" id="idEditReport" />
                <div class="form-group">
                    <label>Nội dung<span class="red-text"> *</span></label>
                    <textarea style="height:100px" class="Noidung" id="noiDungBaoCaoEdit" placeholder="Nhập nội dung..."></textarea>
                </div>
                <div class="form-group">
                    <label>Đính kèm file</label>
                    <input type="file" id="fileUpLoadEdit" name="fileUpLoad">
                </div>
                <div id="list-file"></div>
                <div class="form-group">
                    <label>Ghi chú</label>
                    <textarea style="height:100px" class="Ghichu" id="ghiChuBaoCaoEdit" placeholder="Nhập ghi chú..."></textarea>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" onclick="editBaoCao()" id="btn-confirm-edit">Lưu</button>
                <button type="button" class="btn btn-outline-primary" data-dismiss="modal" onclick="emptyBaoCaoEdit()">Hủy bỏ</button>
            </div>
        </div>
    </div>
</div>

@*Modal-ChiTiet*@
<div class="modal fade report-modal detail-modal" id="detail-modal" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Báo cáo</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close" onclick="emptyBaoCao()">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="Docs_Name" id="tenBaoCaoDetail"></div>
                <div class="form-group form-group-blue">
                    <label>Hướng dẫn thực hiện:</label>
                    <span id="huongDanThucHien"></span>
                </div>
                <div class="form-group form-group-blue">
                    <label>Nội dung báo cáo</label>
                    <span id="noiDungBaoCaoDetail"></span>
                </div>
                <div class="information row">
                    <ul class="col-md-12 row">
                        <li class="finished-day col-md-6"><strong>Điểm tối đa:&nbsp;</strong><span class="number" id="diemToiDa"></span></li>
                        <li class="finished-day col-md-6"><strong>Điểm phê duyệt:&nbsp;</strong><span class="number" id="diemPheDuyet"></span></li>
                        <li class="finished-day col-md-6"><strong>Thời gian hoàn thành:&nbsp;</strong><span class="number" id="thoiGianHoanThanh"></span></li>
                        <li class="verified-day col-md-6"><strong>Ngày phê duyệt:&nbsp;</strong><span class="number" id="ngayPheDuyet"></span></li>
                        <li class="reported-day col-md-6"><strong>Ngày gửi báo cáo:&nbsp;</strong><span class="number" id="ngayBaoCao"></span></li>
                        <li class="status-option col-md-6"><strong>Trạng thái phê duyệt:&nbsp;</strong><span class="status" id="trangThai"></span></li>
                        <li class="status-option col-md-6"><strong>Nội dung phê duyệt:&nbsp;</strong><span class="status" id="noiDungPheDuyet"></span></li>
                        <li class="status-option col-md-6"><strong>Tiêu chí:&nbsp;</strong><span class="status" id="tenNhomTieuChi"></span></li>
                        <li class="status-option col-md-6"><strong>Tài liệu kiểm chứng:&nbsp;</strong><span class="status" id="fileKiemChung"></span></li>
                        <li class="status-option col-md-6"><strong>Nội dung báo cáo:&nbsp;</strong><span class="status" id="noiDungBaoCaoChiTiet"></span></li>
                    </ul>
                </div>
            </div>
            <div class="modal-footer" style="justify-content: flex-end;">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Đóng</button>
            </div>
        </div>
    </div>
</div>

<script>
    let maDonVi = '@ViewBag.ItemMaDoVi';
    let capApDung = '@ViewBag.ItemCapApDung';
    let namBaoCao = '@ViewBag.ItemNamBaoCao';
    let arrAcc = [];

    let fileNameOld = '';
    let fileNameNew = '';

    $('#filterStatus').select2({
        minimumResultsForSearch: -1,
    })

    $(document).ready(function () {
        ; (function () {
            $.ajax({
                type: "GET",
                url: '/api/ChuyenDoiSoTrinhDien/CoQuanDonViApi/DanhSachTieuChi',
                success: function (res) {
                    $("#filterStatus").empty();
                    $("#filterStatus").append(`<option value="0">Tất cả</option>`)
                    let resp = res.data;
                    if (resp.length > 0) {
                        for (var i = 0; i < resp.length; i++) {
                            $('#filterStatus').append(`<option value="${resp[i].id}">${resp[i].nhomtieuchi}</option>`);
                        }
                    }
                }
            })
        })()

        $('.pre_loading').show();
        // Lấy thông tin tất cả các tk cqs
        $.ajax({
            type: "GET",
            url: '/api/ChuyenDoiSoTrinhDien/CoQuanDonViApi/GetInfoAccount',
            success: function (acc) {
                arrAcc.push(acc);
            }
        }).done(function (acc) {
            //Lấy thông tin tk đang đăng nhập
            $.ajax({
                url: '/api/ChuyenDoiSoTrinhDien/CoQuanDonViApi/GetCodeSSO',
                type: 'get',
                success: function () {
                }
            }).done(function (val) {
                let pheDuyetParam = $("#filterStatus").val();

                loadDataDonVi(pheDuyetParam);

                $("#filterStatus").on("change", function () {
                    let tieuChi = $("#filterStatus").val();
                    loadDataDonVi(tieuChi);
                })

                function loadDataDonVi(tieuChi) {
                    $('.pre_loading').show();

                    $("#dataGrid_NvuDonVi tbody").empty();
                    $.ajax({
                        url: '/api/ChuyenDoiSoTrinhDien/CoQuanDonViApi/DanhSachCoQuanGet?donvithuchien=' + maDonVi + '&capapdung=' + capApDung + '&tieuchi=' + tieuChi + '&nam=' + namBaoCao,
                        type: "get",
                        success: function (data) {
                            if (data.data.length > 0) {
                                let nhiemVuDat = 0;
                                let nhiemVuChuaDat = 0;
                                let nhiemVuKhongDat = 0;
                                let flagRole = false;
                                let tempSSO = val.MaDonViSSO;

                                let ese = acc.data.filter(x => x.cccd == val.Username)
                                if (ese.length != 0) {
                                    for (var i = 0; i < ese.length; i++) {
                                        let e = ese[i];
                                        val.MaDonViSSO = e.madinhdanh;

                                        for (var j = 0; j < data.data.length; j++) {

                                            if (data.data[j].donvithuchien != val.MaDonViSSO && val.MaDonViSSO != null) {

                                                let firstTempSSO = val.MaDonViSSO.substring(3);
                                                let secondTempSSO = data.data[j].donvithuchien.substring(3);
                                                if (firstTempSSO == secondTempSSO) {
                                                    val.MaDonViSSO = data.data[j].donvithuchien;
                                                } else {
                                                    val.MaDonViSSO = tempSSO;
                                                }

                                            }
                                        }
                                    }
                                }

                                console.log({ val });

                                val.RoleName.forEach(function (item) {
                                    if (item == "BaoCaoDTI") {
                                        flagRole = true;
                                    }
                                })
                                for (var i = 0; i < data.data.length; i++) {
                                    let ngaybaocao = '';
                                    if (data.data[i].pheduyet == 1) {
                                        nhiemVuDat++;
                                    } else if (data.data[i].pheduyet == 2) {
                                        nhiemVuChuaDat++;
                                    } else {
                                        nhiemVuKhongDat++;
                                    }
                                    let wrongTime = new Date('01/01/1900');
                                    if (data.data[i].ngaybaocao) {
                                        const [day, month, year] = formatDate(data.data[i].ngaybaocao).split('/');
                                        ngaybaocao = new Date(+year, month - 1, +day);
                                    }
                                    const [day, month, year] = formatDate(data.data[i].thoigianhoanthanh).split('/');
                                    const thoigianhoanthanh = new Date(+year, month - 1, +day);
                                    const stt = [i + 1];

                                    const currentDate = new Date(); // Đối tượng Date hiện tại
                                    // Đặt giờ, phút và giây của currentDate thành 23:59:59
                                    currentDate.setHours(23, 59, 59);

                                    if (thoigianhoanthanh > currentDate || (ngaybaocao <= thoigianhoanthanh && ngaybaocao != "" && ngaybaocao != wrongTime.toString())) {

                                        var html = ` <tr>
                                                <td class="text-center">${stt}</td>
                                                <td class="name-text">${data.data[i].congvieccuthe}</td>
                                                <td class="text-center">${formatDate(data.data[i].thoigianhoanthanh)}</td>
                                                <td class="text-center name-text" style="color:#27AE60!important">Trong hạn</td>
                                                <td class="text-center name-text" style="">${TinhTrangBaoCao(data.data[i].trangthaibaocao)}</td>
                                                <td class="text-center">
                                                    <div class="group_action">
                                                        <a data-toggle="modal" data-target="#detail-modal" class="btn-ChiTiet" onclick="detail('${data.data[i].id}')"><img class="XemChiTiet" src="/DesktopModules/MVC/ChuyenDoiSoTrinhDien/Lib/images/DonVi_XemChiTiet.png" alt="" title="Xem chi tiết nhiệm vụ"></a>
                                                        <a onclick="report('${data.data[i].id}')" class="btn-BaoCao"><img class="GuiBaoCao" src="/DesktopModules/MVC/ChuyenDoiSoTrinhDien/Lib/images/DonVi_GuiBaoCao.png" alt="" title="Gửi báo cáo nhiệm vụ"></a>
                                                    </div>
                                                </td>
                                            </tr> `
                                        $("#dataGrid_NvuDonVi tbody").append(html);
                                        $('#danhSachNhiemVu').append(html);
                                    }
                                    else {
                                        var html = ` <tr>
                                                <td class="text-center">${stt}</td>
                                                <td class="name-text">${data.data[i].congvieccuthe}</td>
                                                <td class="text-center">${formatDate(data.data[i].thoigianhoanthanh)}</td>
                                                <td class="text-center name-text" style="color:#EB5757!important">Quá hạn</td>
                                                <td class="text-center name-text" style="">${TinhTrangBaoCao(data.data[i].trangthaibaocao)}</td>
                                                <td class="text-center"><div class="group_action">
                                                    <a data-toggle="modal" data-target="#detail-modal" class="btn-ChiTiet" onclick="detail('${data.data[i].id}')"><img class="XemChiTiet" src="/DesktopModules/MVC/ChuyenDoiSoTrinhDien/Lib/images/DonVi_XemChiTiet.png" alt="" title="Xem chi tiết nhiệm vụ"></a>
                                                    <a onclick="report('${data.data[i].id}')" class="btn-BaoCao"><img class="GuiBaoCao" src="/DesktopModules/MVC/ChuyenDoiSoTrinhDien/Lib/images/DonVi_GuiBaoCao.png" alt="" title="Gửi báo cáo nhiệm vụ"></a>
                                                    </div></td>
                                            </tr> `
                                        $("#dataGrid_NvuDonVi tbody").append(html);
                                        $('#danhSachNhiemVu').append(html);
                                    }

                                    if (val.MaDonViSSO == null || data.data[i].donvithuchien != val.MaDonViSSO || !flagRole) {
                                        $(".btn-BaoCao").addClass("d-none");
                                    }

                                    if (val.MaDonViSSO == null || data.data[i].donvithuchien != val.MaDonViSSO) {
                                        $(".btn-ChiTiet").addClass("d-none");
                                    } else {
                                        $(".LocKetQua").removeClass("d-none");
                                    }

                                }

                                $('#tongSoNhiemVu').text(data.data.length);
                                if (data.data.length > 0) {
                                    $('.main .lined').append(
                                        `
                                            <span class="TenDonVi">
                                                <span class="material-symbols-rounded">chevron_right</span>
                                                <span class="TenDonVi_ChiTiet">${data.data[0].tendonvithuchien}</span>
                                            </span>
                                        `)
                                }
                                $('#nhiemVuDat').text(nhiemVuDat);
                                $('#nhiemVuChuaDat').text(nhiemVuChuaDat);
                                $('#nhiemVuKhongDat').text(nhiemVuKhongDat);
                                $('.pre_loading').hide();
                            } else {
                                $('#dataGrid_NvuDonVi tbody').append(`<tr><td colspan="5" class="text-center">Bảng trống</td></tr>`);
                                $('.pre_loading').hide();
                            }
                         
                        }
                    })
                }
            })
        })

        $("#btn-back").on("click", function () {
            window.location.href = '/Thong-tin-chuyen-doi-so/Bao-cao-chi-so-DTI';
        })
    })

    function TinhTrangBaoCao(trangthaibaocao) {
        let tinhTrang = '';
        if (trangthaibaocao != null) {
            if (trangthaibaocao == 2) {
                tinhTrang = 'Đã báo cáo';
            } else {
                tinhTrang = '<span style="color:red;">Chưa báo cáo</span>';
            }
        }
        return tinhTrang;
    }

    function report(id) {
        $('#idReport').val(id);
        $.ajax({
            url: '/api/ChuyenDoiSoTrinhDien/CoQuanDonViApi/GetCodeSSO',
            type: 'get',
            success: function () {
            }
        }).done(function (val) {
            $.ajax({
                url: '/api/ChuyenDoiSoTrinhDien/CoQuanDonViApi/DanhSachCoQuanGetId?id=' + id,
                type: 'get',
                success: function (data) {
                    let flag = false;

                    let ese = arrAcc[0].data.filter(x => x.cccd == val.Username)
                    if (ese.length != 0) {
                        for (var i = 0; i < ese.length; i++) {
                            let e = ese[i];
                            val.MaDonViSSO = e.madinhdanh;
                            if (data.data.donvithuchien != val.MaDonViSSO && val.MaDonViSSO != null) {
                                let firstTempSSO = val.MaDonViSSO.substring(3);
                                let secondTempSSO = data.data.donvithuchien.substring(3);
                                if (firstTempSSO == secondTempSSO) {
                                    val.MaDonViSSO = data.data.donvithuchien;
                                }
                            }
                        }
                    }


                    val.RoleName.forEach(function (item) {
                        if (item == "BaoCaoDTI") {
                            flag = true;
                        }
                    })

                    console.log({ val });

                    if ((data.data.trangthaibaocao !== null && data.data.trangthaibaocao !== 0) && data.data.donvithuchien == val.MaDonViSSO && flag) {
                        $('#idEditReport').val(data.data.id);
                        $('#tenBaoCaoEdit').text(data.data.congvieccuthe);
                        $('#ghiChuBaoCaoEdit').val(data.data.ghichu);
                        $('#noiDungBaoCaoEdit').val(data.data.noidungbaocao);
                        $('#list-file').empty();
                        if (data.data.filekiemchung != null && data.data.filekiemchung != "") {
                            let filename = data.data.filekiemchung.substring(data.data.filekiemchung.lastIndexOf('/') + 1);
                            fileNameOld = filename;
                            let html = `<a href="${data.data.filekiemchung}" download><span class="text-blue text-medium">${filename}</span><span class="icon icon-download-file"></span></a>`
                            $('#list-file').append(html);
                        }
                        if (data.data.pheduyet == 1) {
                            $('#btn-confirm-edit').css('opacity', '0.1');
                            $('#btn-confirm-edit').prop('disabled', true);
                        } else {
                            $('#btn-confirm-edit').css('opacity', '1');
                            $('#btn-confirm-edit').prop('disabled', false);
                        }

                        $("#report-modal-edit").modal('show');
                    } else {
                        if (data.data.donvithuchien == val.MaDonViSSO && flag) {

                            $("#report-modal").modal("show");
                        } else {
                            ThongBao("Bạn không có quyền hạn để báo cáo nhiệm vụ này!", 'Danger');

                            $("#report-modal").modal("hide");
                        }
                        $('#tenBaoCaos').text(data.data.congvieccuthe);
                    }
                }
            })
        })
    }

    function detail (madonvi) {
        $.ajax({
            url: '/api/ChuyenDoiSoTrinhDien/CoQuanDonViApi/DanhSachCoQuanGetId?id=' + madonvi,
            type: 'get',
            success: function (data) {
                $('#tenDonVi').text(data.data.tendonvithuchien);
                $('#congvieccuthe').text(data.data.congvieccuthe);
                $('#tenBaoCaoDetail').text(data.data.congvieccuthe);
                $('#diemToiDa').text(data.data.diemtoida);
                $('#diemPheDuyet').text(data.data.diempheduyet);
                $('#thoiGianHoanThanh').text(formatDate(data.data.thoigianhoanthanh));
                $('#noiDungBaoCaoChiTiet').text(data.data.noidungbaocao);
                $('#noiDungPheDuyet').text(data.data.noidungpheduyet);
                $('#ngayBaoCao').text(data.data.ngaybaocao == null ? " " : formatDate(data.data.ngaybaocao));
                $('#tenNhomTieuChi').text(data.data.tennhomtieuchiid);

                $('#fileKiemChung').empty();
                if (data.data.filekiemchung != null && data.data.filekiemchung != "") {
                    let filename = data.data.filekiemchung.substring(data.data.filekiemchung.lastIndexOf('/') + 1);
                    fileNameOld = filename;
                    let html = `<a href="${data.data.filekiemchung}" download><span class="text-blue text-medium">${filename}</span><span class="icon icon-download-file"></span></a>`
                    $('#fileKiemChung').append(html);
                }

                noiDungGlobal = data.data.noidungbaocao;
                ghiChuGlobal = data.data.ghichu;
                if (data.data.pheduyet == 1) {
                    $('#trangThai').text(data.data.tenpheduyet);
                    $('#trangThai').addClass('dat');
                    $('#ngayPheDuyet').text(data.data.ngaycapnhat == null ? "" : formatDate(data.data.ngaycapnhat));
                } else if (data.data.pheduyet == 2) {
                    $('#trangThai').text(data.data.tenpheduyet);
                    $('#trangThai').addClass('chuadat');
                    $('#ngayPheDuyet').text(data.data.ngaycapnhat == null ? "" : formatDate(data.data.ngaycapnhat));

                } else {
                    $('#trangThai').text('Chưa phê duyệt');
                    $('#trangThai').addClass('chuaduyet');
                    $('#ngayPheDuyet').text("");

                }

                var jsonString = data.data.huongdanthuchien;
                var cleanedJsonString = jsonString.slice(1, -1); // Loại bỏ dấu ngoặc kép
                var items = cleanedJsonString.split(/\r\n|\r|\n/);
                var html = '<ol>';
                for (var i = 0; i < items.length; i++) {
                    if (items[i].trim() !== '') {
                        html += '<li>' + items[i] + '</li>';
                    }
                }
                html += '</ol>';
                $('#huongDanThucHien').html(html);

                if (data.data.trangthaibaocao != 0) {
                    $('#noiDungBaoCaoDetail').val(data.data.noidungbaocao);
                }
            },
        });
    }

    // format-day
    function formatDate(date) {
        var d = new Date(date),
            month = '' + (d.getMonth() + 1),
            day = '' + d.getDate(),
            year = d.getFullYear()
        if (month.length < 2) month = '0' + month
        if (day.length < 2) day = '0' + day
        return [day, month, year].join('/');
    }
</script>


<script>
    const url = window.location;
    const APIURL = url.protocol + "//" + url.hostname + url.port;

    let idItem = '@ViewBag.ItemId';
    let noiDungGlobal = '';
    let ghiChuGlobal = '';
    var dataFiles_formData = new FormData();
    var pathFolder = "~/Desktopmodules/FileUpload/BaoCao";
    var pathThuMuc = "Desktopmodules/FileUpload/BaoCao";
    let rs = null;

    function addBaoCao() {
        let id = $('#idReport').val();
        let noiDung = $('#noiDungBaoCao').val();
        let ghiChu = $('#ghiChuBaoCao').val();
        let fileKiemChung = $('#fileUpLoad')[0].files[0];
        let filename = '';

        const currentDate = new Date();
        const year = currentDate.getFullYear();
        const month = currentDate.getMonth() + 1; // Tháng bắt đầu từ 0, cần +1
        const day = currentDate.getDate();

        const datetime = pad(day) + '/' + pad(month) + '/' + year;

        if (checkEmptyBlank(noiDung)) {
            ThongBao('Thông tin bắt buộc không được để trống!', 'Danger');
            return
        }

        if (typeof fileKiemChung !== 'undefined') {
            let form_data = new FormData();

            filename = `${formatDatePhoTo()}_${fileKiemChung.name}`;

            form_data.append(fileKiemChung.name, fileKiemChung, filename);

            fileUpload(form_data);
        }
        const res = {
            "id": id,
            "noidungbaocao": noiDung,
            "ghichu": ghiChu,
            "ngaybaocao": datetime,
            "trangthaibaocao": "2",
            "filekiemchung": filename ? filename : '' ,
        }
        //ADD file vào thư mục
        $.ajax({
            url: '/api/ChuyenDoiSoTrinhDien/CoQuanDonViApi/UpdateBaoCao',
            type: 'post',
            data: res,
            success: function () {
                $('#report-modal').modal('hide');
                ThongBao("Gửi báo cáo thành công", "Success");
                location.reload();
            },
        })
    }

    function editBaoCao() {
        let idEdit = $('#idEditReport').val();
        let ghiChu = $('#ghiChuBaoCaoEdit').val();
        let noiDung = $('#noiDungBaoCaoEdit').val();
        let fileKiemChung = $('#fileUpLoadEdit')[0].files[0];

        if (checkEmptyBlank(noiDung)) {
            ThongBao('Thông tin bắt buộc không được để trống!', 'Danger');
            return
        }

        const currentDate = new Date();
        const year = currentDate.getFullYear();
        const month = currentDate.getMonth() + 1; // Tháng bắt đầu từ 0, cần +1
        const day = currentDate.getDate();

        const datetime = pad(day) + '/' + pad(month) + '/' + year;

        let form_data = new FormData();

        if (typeof fileKiemChung !== 'undefined') {
            fileNameNew = `${formatDatePhoTo()}_${fileKiemChung.name}`;

            form_data.append(fileKiemChung.name, fileKiemChung, fileNameNew);
            fileUpload(form_data);

            const res = {
                "id": idEdit,
                "noidungbaocao": noiDung,
                "ghichu": ghiChu,
                "ngaybaocao": datetime,
                "trangthaibaocao": "2",
                "filekiemchung": fileNameNew,
            }

            $.ajax({
                url: '/api/ChuyenDoiSoTrinhDien/CoQuanDonViApi/UpdateBaoCao',
                type: 'post',
                data: res,
                success: function () {
                    $('#report-modal-edit').modal('hide');
                    ThongBao("Chỉnh sửa báo cáo thành công", "Success");
                    emptyBaoCaoEdit();
                    location.reload();
                },
            })
        } else {
            const res = {
                "id": idEdit,
                "noidungbaocao": noiDung,
                "ghichu": ghiChu,
                "ngaybaocao": datetime,
                "trangthaibaocao": "2",
            }

            $.ajax({
                url: '/api/ChuyenDoiSoTrinhDien/CoQuanDonViApi/UpdateBaoCao',
                type: 'post',
                data: res,
                success: function () {
                    $('#report-modal-edit').modal('hide');
                    ThongBao("Chỉnh sửa báo cáo thành công", "Success");
                    emptyBaoCaoEdit();
                    location.reload();
                },
            })
        }
    }

    function pad(number) {
        return (number < 10 ? '0' : '') + number;
    }

    // format-day
    function formatDate(date) {
        var d = new Date(date),
            month = '' + (d.getMonth() + 1),
            day = '' + d.getDate(),
            year = d.getFullYear()
        if (month.length < 2) month = '0' + month
        if (day.length < 2) day = '0' + day
        return [day, month, year].join('/');
    }

    function checkEmptyBlank(str) {
        if (str.trim().length === 0 || str == null) {
            return true
        }
        return false
    }

    function checkNullBlank(str) {
        if (str == null || str.trim().lenth === 0) {
            return true
        }
        return false
    }

    function emptyBaoCao() {
        $('#noiDungBaoCao').val(noiDungGlobal);
        $('#ghiChuBaoCao').val(ghiChuGlobal);
        $('#fileUpLoad').val("");
    }

    function emptyBaoCaoEdit() {
        $('#fileUpLoadEdit').val("");
    }

    // format photo
    function formatDatePhoTo() {
        var d = new Date(),
            month = '' + (d.getMonth() + 1),
            day = '' + d.getDate(),
            year = d.getFullYear(),
            hour = d.getHours(),
            minute = d.getMinutes(),
            second = d.getSeconds()

        if (month.length < 2) month = '0' + month
        if (day.length < 2) day = '0' + day
        if (hour.length < 2) hour = '0' + hour
        if (minute.length < 2) minute = '0' + minute
        if (second.length < 2) second = '0' + second

        return [year, month, day, hour, minute, second].join('')
    }

    // UPLOAD FILE
    function fileUpload(file) {
        $.ajax({
            async: false,
            url: "/api/ChuyenDoiSoTrinhDien/UploadFileApi/UploadFiles/?pathFolder=" + pathFolder + "&pathThuMuc=" + pathThuMuc,
            method: "POST",
            data: file,
            processData: false,
            contentType: false,
            success: function (data) {
                if (data.IsSuccessed && data.ResultObj.length > 0) {
                    rs = data;
                }
            },
            error: function (err) {
                console.log('Lỗi: fileUpload!');
            }
        })
        return rs
    }
</script>
